[2018-09-21 21:07] banukutlu opened #7 "Authentication, User Roles and Login"
In GitLab by @bzk60 on Jul 17, 2018, 17:21

https://github.com/psu-libraries/psu_dir?
https://github.com/psu-libraries/devise_remote?

Required by psu-libraries/psulib_blacklight#6

[2019-10-28 17:39] ruthtillman opened #1 "Account Overview Page"
Page: Overview

Display on login/entering My Account

* [x] Messages: problems with account
  * [x] Patron Standing Alerts for `DELINQUENT`, `BARRED`, `BLOCKED` and `COLLECTION`
* [x] Fines (total owed in $)
* [x] Total items checked out
   * [x] Total items Overdue
* [x] Total items on hold
  * [x] Total item ready for pickup
* [x] Additional links

[2019-10-28 17:41] ruthtillman opened #6 "Checkouts/Renewals"
Page: Checkouts/Renewals

* [x] View list of items checked out
* [x] Renew individual (check box)
* [x] Renew all - #74
* [x] Custom error messages - #69

Info on what we currently have displayed here: https://github.com/psu-libraries/psulib_blacklight/wiki/My-Account-Components#checkoutsrenewals

[2019-10-28 17:45] ruthtillman opened #5 "Holds"
Holds page: View and Manage Holds

* [x] View list
* ~[ ] Cancel hold~ (see #8)
* ~[ ] Change hold pickup location and/or date no longer needed~ (see #62)

Documented: https://github.com/psu-libraries/psulib_blacklight/wiki/My-Account-Components#holds-management

[2019-10-28 17:46] ruthtillman opened #4 "Bills"
Show fines/bills

Show how to pay them.

Get screenshot from Chris, etc.

[2019-10-28 17:47] ruthtillman opened #3 "Dummy Accounts"
* [x] Evaluate Stanford's list of dummy accounts and scenarios, update and address any necessary differences.
* [ ] Make them happen in Test.

[2019-10-28 17:49] ruthtillman opened #2 "Revise text about renewals and an overall review of labels in the application"
- [ ] Work with Chris H. to revise text currently at the top of Checkouts/Renewals + add links to Illiad.
- [x] revise the "please wait, loading" text

[2019-10-31 15:05] cdmo opened #8 "Hold cancel and batch cancel"
check one, multiple or all and process cancellations

[2019-10-31 15:07] cdmo opened #9 "Renewal creation"
Ability to create a renewal on a checkout

[2019-10-31 15:11] cdmo opened #10 "Patron profiles"
Ability to add information about patron like email, phone and address.

Not scoped for initial release but would be nice

[2019-10-31 16:15] cdmo opened #11 "README"
document webservice version, ruby and rails versions, etc.

how to start the application

[2019-10-31 16:16] cdmo opened #12 "License"
What to use, if at all specifying one

[2019-10-31 16:16] cdmo opened #13 "Matomo"

[2019-11-05 13:57] ruthtillman commented on #3
Documented on wiki page: https://github.com/psu-libraries/psulib_blacklight/wiki/Test-User-Types-for-My-Account with assistance from C.H.

[2019-11-06 16:50] cdmo opened #14 "Setup webpacker"

[2019-11-11 18:11] ruthtillman opened #17 "Community borrower login"
Ruth / Maryam talk to Chris H. about how Community Borrowers login.

[2019-11-13 15:53] cdmo opened #19 "Auth specs"
specs for methods in #18

- [x] app/controllers/application_controller.rb
- [x] app/controllers/sessions_controller.rb
- [x] app/controllers/summaries_controller.rb
- [x] app/models/patron.rb
- [x] app/models/user.rb
- [x] app/services/symphony_client.rb

[2019-11-13 16:12] cdmo opened #20 "Resolve login issues"
The desired outcome:

- [x] when a user goes to any page of the app that user is sent to authentication (webaccess)
- [x] app should detect for session renewal need (stale?) and automatically renew session token
~[x] encrypt~

[2019-11-15 20:58] cdmo opened #22 "CI"

[2019-11-19 14:40] cdmo opened #24 "Renew session functionality"
potential approach: Ping symphony to see if the user token expired or not

[2019-11-19 16:35] ruthtillman opened #25 "Wage Garnishment Opt-In"
When employees (certain classes thereof?) first use the library, they have to opt into wage garnishment for fines or else they will be BARRED. There's a separate page in the CAT which allows them to opt in. We will need to replicate this page, which updates their account with the date on which they agreed to it.

[2019-11-20 20:31] cdmo opened #28 "Ask a librarian"

[2019-11-26 21:14] #12 closed

[2019-12-03 20:51] banukutlu commented on #1
What are the possible Alert messages for patron standing?
and for which ones there should be an alert message on the summary page?

[2019-12-04 14:19] ruthtillman commented on #1
@banukutlu that is a good question. Waiting to see if @mkutch has any other answers, but I have only seen Delinquent on my account.

The two real negative statuses are BARRED and BLOCKED. I believe BLOCKED corresponds to DELINQUENT. I believe BARRED means they need to opt into the garnishment -- is this correct, Maryam? So in that case, it we might need to put in a link for opting into garnishment

[2019-12-04 20:22] cdmo opened #38 "Question about fine statuses"
From #1

In translating fine statuses from Sirsi codes to plain english, does this look about right?

[code]

This list is taken from SUL. Is this a good list for us too by any chance? Is there anything missing? If someone could doublecheck that'd be great. Not sure who should be though, @ruthtillman?

[2019-12-05 13:42] ruthtillman commented on #38
This looks like our list https://cat.libraries.psu.edu/uhtbin/Lists/bill_reasons

[2019-12-05 19:54] banukutlu commented on #1
@mkutch what are the other alerts (other than delinquent) that are displayed on the summary page currently?

[2019-12-05 20:34] cdmo commented on #38
Thanks!

[2019-12-05 20:35] #38 closed

[2019-12-05 20:36] cdmo commented on #38
Implementation at #4

[2019-12-05 21:01] mkutch commented on #1
Confirmed with Chris that DELINQUENT, BARRED and BLOCKED are the onyl alerts. There are certain thresholds which the library has set that triggers which status a patron will be. We are testing something else  to see if another condition/alert shows up . Will let you know.

[2019-12-05 21:28] cdmo commented on #4
@ruthtillman or @mkutch (not sure who to ask), Is it possible to get a patron dummy account with more than one fine? I have access to a dummy account with a single fine at the moment. Thanks.

[2019-12-06 14:10] ruthtillman commented on #4
@mkutch I think this is something you or Chris could do?

[2019-12-06 14:31] mkutch commented on #4
@cdmo I put one in box for you. Let me know if you need more.

[2019-12-06 15:09] cdmo commented on #4
Thanks!

[2019-12-09 17:01] banukutlu commented on #6
@ruthtillman @mkutch What are the possible statuses for the checkouts table other than `Overdue`?

![Screen Shot 2019-12-09 at 11 58 37 AM](https://user-images.githubusercontent.com/6477867/70456059-6837ac00-1a7b-11ea-91b3-7a9e31a06e11.png)

@mkutch How are the statuses determined currently? There is Active/Inactive status field but also Overdue field?

[2019-12-09 19:45] ruthtillman commented on #6
Only other one I can think of is Recalled. but maybe there's a list which has values? @mkutch ?

[2019-12-09 20:28] mkutch commented on #6
talked with Chris and the other status besides "Overdue" that was recently implemented is "Claims returned" ... There should be one on that account, but isn't being displayed in my library account (separate issue I need to look into that)

[2019-12-09 20:38] banukutlu commented on #6
@mkutch another question re `You owe` column on the checkouts page. Could you pls find a test account that has accrued? And could you pls confirm if I use the `estimateOverdueAmount ` field for this column with no other calculation?

[2019-12-09 20:39] mkutch commented on #1
When a user is sent to COLLECTION this is the alert.

![image](https://user-images.githubusercontent.com/43478453/70470879-063a6f00-1a9a-11ea-9d5f-ebbbbef82b42.png)

[2019-12-09 20:48] banukutlu opened #45 "Add patron standing COLLECTION alert to summary page"
When a user is sent to collection this is the alert. The standing{key} is COLLECTION

![image](https://user-images.githubusercontent.com/43478453/70470879-063a6f00-1a9a-11ea-9d5f-ebbbbef82b42.png)

_Originally posted by @mkutch in https://github.com/psu-libraries/myaccount/issues/1#issuecomment-563427871_

[2019-12-09 21:30] mkutch commented on #6
Yes that is the estimateOverdueAmount. I put an example in box for you.

[2019-12-09 21:36] mkutch commented on #6
The logic regarding Status of items.  If `overdue` is `true` then check if `claimsReturnedDate` is NOT null then the status is `Claims returned` else status is `Overdue`.

[2019-12-09 21:45] ruthtillman commented on #6
So are recalls just changed due dates or is there anything special about them?

[2019-12-10 13:46] mkutch commented on #6
Recalled item will have a new due date and looks like this

![image](https://user-images.githubusercontent.com/43478453/70534550-4d237580-1b29-11ea-9e41-90465e0f824c.png)

Or if Overdue AND Recalled like this

![image](https://user-images.githubusercontent.com/43478453/70534590-60cedc00-1b29-11ea-9613-789216249d68.png)

[2019-12-10 13:54] ruthtillman commented on #6
Thank you @mkutch ! And is there something in the due date response that'll have the recalled stuff clearly?

[2019-12-10 14:51] mkutch commented on #6
Check if `recallDueDate` is NOT null.

[2019-12-10 17:13] banukutlu commented on #6
@mkutch I realized that there are `circRecordList{status} = INACTIVE` checkout in the webservices response. I do not see those listed in the current myaccount checkouts page. So, should we filter INACTIVE ones out?

[2019-12-11 16:14] cdmo commented on #4
Do we want format (aka "item type") to be a separate column? Or nested under title (as it is now in My Account)?

[2019-12-11 16:33] ruthtillman commented on #4
I think either is fine if it’s aesthetically pleasing?

[2019-12-11 16:42] cdmo commented on #4
Kinda like it nested in the title column, but, yeah, 6 to one half dozen the other.

[2019-12-17 14:36] cdmo commented on #6
I see that conversation about this already, but to me it is confusing to show two dates in the "Due Date" column when there is a recall. Why not just show the new recall due date? Or, alternatively, put labels next to each due date? Or make it a sentence, like "Was due at OLD_DUE_DATE and is now due at NEW_DUE_DATE because this item was recalled" Or something.

![Screenshot 2019-12-17 09 30 44](ht

[2019-12-17 14:44] cdmo commented on #6
You could also do a "This item was recalled on RECALL_DATE and is now due on NEW_DUE_DATE". Anyway, just some ideas. This is not a big deal, just something we can easily/quickly clear up. Tagging @ruthtillman (forgot to in last comment)

[2019-12-17 14:45] mkutch commented on #6
@banukutlu yes you want to display the `circRecordList{status} = ACTIVE` records in the Checkouts list.

[2019-12-17 14:50] mkutch commented on #6
We could just not display the original due date and just have it display  Recalled and the recalled due date underneath it. @ruthtillman

[2019-12-17 14:52] cdmo commented on #6
@mkutch yes, that's another good option. As it is now, to me, feels broken/buggy.

[2019-12-17 14:55] mkutch commented on #6
@cdmo yes ...The original due date doesn't really serve a purpose once it's been recalled with a new due date.

[2019-12-17 18:27] cdmo opened #49 "Rubygems 3.1.1 and Travis"
related https://travis-ci.community/t/our-builds-started-failing-with-bundlers-executable-bundle-conflicts/6523

[2019-12-17 18:48] cdmo commented on #49
https://github.com/rubygems/rubygems/pull/3028

[2019-12-17 18:50] cdmo commented on #49
https://github.com/rubygems/rubygems/releases/tag/v3.1.0

[2019-12-18 13:27] cdmo commented on #20
Re: encryption. This really doesn't make any sense as the auth info is passed as `GET` query params from the auth service. We would have to rewrite the auth service in order to hide these values.

[2019-12-18 13:48] cdmo commented on #20
Stale appears to be working correctly in my testing

[2019-12-18 14:08] cdmo opened #52 "Menu"

[2019-12-18 14:08] cdmo opened #53 "Site Chrome"
branding, header, footer, etc

[2019-12-18 15:10] banukutlu commented on #6
@mkutch what are the rules for deciding on items that are eligible for renewal in the current system?

<img width="630" alt="Screen Shot 2019-12-18 at 10 09 00 AM" src="https://user-images.githubusercontent.com/6477867/71097762-8b9adf00-217e-11ea-8714-618cf929bdaf.png">

fyi @ruthtillman

[2019-12-18 15:33] cdmo commented on #5
Seems like we don't use the `placedLibrary` field at all in the display. Can someone confirm that? I can see on our 910007356 test account that the item this item:

![Screenshot 2019-12-18 10 32 01](https://user-images.githubusercontent.com/523381/71099648-a3279700-2181-11ea-9f8d-c5ddfd858076.png)

Has a `placedLibrary` (`ABINGTON`) field, but it is not being displayed. Instead we are displaying `

[2019-12-18 15:53] cdmo commented on #5
A separate thing: why do we have a column for "availability" _and_  "pickup at"?
![Screenshot 2019-12-18 10 51 12](https://user-images.githubusercontent.com/523381/71101250-5c876c00-2184-11ea-8610-ff24eee6c7bd.png)

In the test accounts that have holds, these values are the same in the "Ready for Pickup" table.

I'd propose we get rid of the "Availability" column in the "Ready for Pickup" table un

[2019-12-18 16:30] mkutch commented on #6
@banukutlu It's redundant and doesn't really serve a purpose since it is a repeat of the total checkouts above.  Any checkout that is `Active` is eligible for renewal but it doesn't necessarily mean it will/can be renewed. Recalled and claims returned items are considered `Active` checkouts.

[2019-12-18 16:49] cdmo commented on #5
I'd recommend "Not ready for pickup" or something like that. "Outstanding Holds" is ambiguous. If you haven't picked up your hold, wouldn't that be "outstanding" from the perspective of a patron?

![Screenshot 2019-12-18 11 47 43](https://user-images.githubusercontent.com/523381/71105837-35349d00-218c-11ea-87f1-237b41f739be.png)

[2019-12-18 17:06] banukutlu commented on #6
thanks @mkutch for the explanation! This is helpful. OK, then it makes sense to just not show that eligible msg (confirming with @ruthtillman).

[2019-12-18 17:08] cdmo commented on #5
Another thing. This outstanding holds table is, in general, really confusing to me. A suggested simplification could be:
Title and Status

If it were me as a patron, I'd probably want to know when I placed the hold and what the status is and when the library is going to give up.

I'll code it up as it is, just saying, it's kinda weird to me.

![Screenshot 2019-12-18 12 06 24](https://user-images.g

[2019-12-18 20:45] cdmo commented on #5
@mkutch A specific question for you. Is "Status" in the "Outstanding Holds" table just always "Active"? The `status` field is (from the sample data I've seen) always `PLACED`. I'm assuming there's logic to just make that only show "Active". Is that right? Or is the value mapped from somewhere in the response data from the web service.

![Screenshot 2019-12-18 15 45 04](https://user-images.githubus

[2019-12-19 15:33] mkutch commented on #5
@cdmo You can also have `status: "SUSPENDED"` . Talked with Chris about this and he said an instructor can book/reserve an item for their class ahead of time. The instructor cannot do this on their own and has to go to access services. Access services sets the `suspendBeginDate` and `suspendEndDate`.

![image](https://user-images.githubusercontent.com/43478453/71186035-830fda80-224a-11ea-8228-9630

[2019-12-19 16:05] cdmo commented on #5
Thanks! @mkutch does one of our test accounts have this record?

[2019-12-19 17:02] mkutch commented on #5
@cdmo first test account has this record.

[2019-12-19 17:30] mkutch commented on #5
Re  I'd think the patron would want/need to know where they are in the hold queue especially if there are a lot of holds on the item.  Also the need for pickup library, because they can change that option.

[2019-12-19 18:55] cdmo commented on #5
Still think the language could be improved. I.e, "Your position in the holds queue" is very librarian-speak, would rather plain English.

[2019-12-19 19:34] cdmo commented on #5
Hey @mkutch on this record the status is `SUSPENDED`, but we display "Inactive"
![Screenshot 2019-12-19 14 32 25](https://user-images.githubusercontent.com/523381/71203655-67b5c700-226c-11ea-8be7-73d561551ad2.png)

Is this because `suspendEndDate` is not set?  Not sure what else could trigger that status display.

[2019-12-19 23:18] mkutch commented on #5
@cdmo Chris and I were testing the logic which displays the logic for the display of Inactive status. As you noticed the suspendEndDate is not set. Chris said this would never happen because they set the suspend begin and end dates. So you can ignore this case. We forgot to remove this, sorry for the confusion.

[2019-12-20 13:50] cdmo commented on #5
I added a condition that checks for this and displays Inactive already, so it's in there. No biggie.

[2019-12-20 16:05] mkutch commented on #5
@cdmo Correct, we don't use the `placedLibrary` field in the display.

[2020-01-06 18:08] ruthtillman commented on #5
Looking through all this, let's discuss briefly at our next meeting and then I'll document. I do think that in one's outstanding holds (definitely ok with renaming) it's potentially important to show where one is in the holds queue. Because of recalls, etc., this isn't quite like public libraries... (though commonwealth borrowers don't recall, so a popular book that several of them have on hold co

[2020-01-06 21:29] cdmo opened #60 "Extract logic from _summaries.html.erb"
Into helpers or whatever

[2020-01-07 14:23] cdmo opened #61 "Code coverage/quality tool setup"

[2020-01-08 20:22] mkutch commented on #6
@banukutlu There needs to be a checkbox for every item checked out... Every item can be renewed unless it has a bill or there is a hold on it or at the limit of it's reserve circ rule (talked briefly with Chris). I will put patron for you to test on box.

[2020-01-08 21:45] mkutch commented on #6
Also from Chris regarding renew on a single account "There shouldn't be a limit, but, we discovered after we increased the charge limit to 500 for faculty/staff/grad students that there's some line of code somewhere in the bowels of SD that limits renewals to 200 items if renewing with My Library Account. We'd prefer that there wasn't, but SD wasn't able to change it"

[2020-01-10 21:45] cdmo opened #62 "Modify hold"
Change hold pickup location and/or date no longer needed

Left over from #58

[2020-01-10 21:47] cdmo opened #63 "Feature spec for holds"
especially select all

Left over from #58

[2020-01-10 21:48] cdmo opened #64 "Hide hold tables when there are no holds"
Left over from #58

[2020-01-13 18:13] cdmo commented on #49
see #50

[2020-01-13 18:13] #49 closed

[2020-01-14 15:24] mkutch commented on #6
@banukutlu Here are the message number, sirsi message  and custom message

`messageList{code}=141`
Sirsi : `Override required to exceed renewal limit.`
Custom : `Denied -- Renewal limit reached, cannot be renewed.<br>Due date remains unchanged.`

7703
`messageList{code}=7703`
Sirsi : `Override required to exceed unseen renewal limit.`
Custom :  `Denied -- Renewal limit reached, cannot be renewed.<

[2020-01-14 15:41] mkutch commented on #6
@banukutlu Re java errors we can have this message
 `Unable to renew item, please contact your local PSU library.`  with a link/hyperlink https://libraries.psu.edu/about/libraries

[2020-01-14 16:15] cdmo commented on #3
Should we close this one?

[2020-01-14 16:15] #3 closed

[2020-01-14 16:49] cdmo opened #65 "Hold "details" links"
Remove and just link the title

[2020-01-14 16:50] cdmo opened #66 "Display volume data for hold"
e.g., Aliens Quadrilogy

[2020-01-14 16:51] cdmo opened #67 "Move error flash to be first"
before `:success`

[2020-01-14 16:52] cdmo opened #68 "Hold cancel message"
Make it mimic current hold cancel message (includes volume, and other things)

[2020-01-14 16:58] banukutlu opened #69 "Custom error messages for renewals"
Map these error codes to the custom messages for renewals:

`messageList{code}=141`
Sirsi : `Override required to exceed renewal limit.`
Custom : `Denied -- Renewal limit reached, cannot be renewed.<br>Due date remains unchanged.`

`messageList{code}=7703`
Sirsi : `Override required to exceed unseen renewal limit.`
Custom :  `Denied -- Renewal limit reached, cannot be renewed.<br>Due date remains

[2020-01-14 18:50] ruthtillman opened #70 "Do not link to PALCI records"
PALCI records are not in the public catalog. When displaying, do not link.

[2020-01-15 16:11] #61 closed

[2020-01-15 16:15] banukutlu commented on #9
handled with #59

[2020-01-15 16:15] #9 closed

[2020-01-15 16:16] banukutlu commented on #67
handled with #59

[2020-01-17 17:34] banukutlu opened #74 "Renew All for checkouts"
Part of #6

[2020-01-20 16:08] cdmo commented on #62
Just wanted to record the findings from Thursday: despite the ability to dynamically query all possible pickup locations for a patron and item combination, the list of pickup locations is set statically and is universal for all items and patrons.

[2020-01-21 15:00] ruthtillman commented on #69
In revising overall error message:

- display shortened success/error messages if more than 25 items being renewed
- in both messages for error_html, change "Try again or contact us for help" to "Review list of checked out items below and contact us if you require assistance." link "contact us" to Ask a Librarian.

[2020-01-22 17:20] cdmo commented on #62
@mkutch This is a note to remind you/us that we need the permissions changed on the production web services so that fillByDate can be edited by patrons.

[2020-01-23 13:43] cdmo commented on #62
@ruthtillman I have a UX question for you. In the current My Account the user encounters "confirm prompts" when attempting to cancel a hold - like "Are you sure you want to cancel these holds?" kind of thing. Do we want that in My Library?

[2020-01-23 13:53] ruthtillman commented on #62
I think as long as we don't have a "cancel all holds" button so they'd have to at least select individual or select All and confirm, it's ok (with caveat below). I would not say that for a public library, but we aren't the kind of place which stacks up holds on books. In public libraries, if there are 15 people in a queue and you're 4 and accidentally cancel and have to get back on the list, you w

[2020-01-23 14:48] cdmo commented on #62
Ok, cool. Well, here's a quick preview of a first attempt at creating a batch processing form section for holds:

![Screenshot 2020-01-21 10 33 12](https://user-images.githubusercontent.com/523381/72994581-59a41a80-3dc5-11ea-935c-72f1e4b83410.png)

One other nice thing is that we'll have a date picker widget "for free" with My Library because we're using the browser's native date picker (current M

[2020-01-23 16:27] ruthtillman commented on #62
Yes, that's a very nice blue vs. red button and different sections to make it easier to edit than cancel. 👍

[2020-01-24 13:33] cdmo opened #77 "Cookie overflow avoidance app-wide, flash message protection"
possible sol'n - [redis](https://medium.com/@kirill_shevch/configuration-cache-and-rails-session-store-with-redis-b3ce6f64d1fc)?

[2020-01-24 14:42] #22 closed

[2020-01-24 14:42] #14 closed

[2020-01-24 14:42] #19 closed

[2020-01-24 14:42] #11 closed

[2020-01-24 14:45] banukutlu opened #78 "Feature spec for checkouts"

[2020-01-24 15:31] cdmo commented on #62
Hi @ruthtillman - @banukutlu brought up the following question during review of modifying holds:

Basically I made it so you can specify either a pick up location change and/or pick up by date change. Doesn't have to be both. Current system enforces both, but there is no systematic reason that has to be the case. Would you like to continue enforcing this? I just made the call on my own as part of

[2020-01-24 16:17] cdmo commented on #25
Did we talk about this at a meeting yet? Not sure I recall seeing this screen yet..

[2020-01-24 21:51] banukutlu opened #83 "Refactor select all as a component"

[2020-01-27 17:27] cdmo commented on #70
@mkutch So, what is the canonical way to determine if an item is "of PALCI"? itemType or homeLocation?

[2020-01-27 21:14] banukutlu opened #85 "Add conditional display to Bills"
Also change the table caption, or maybe remove?

[2020-01-28 08:47] banukutlu opened #87 "Do not display due date time if it is 11:59pm"
If time due is 11:59pm, do not display time. Otherwise display time. (times other than 11:59pm are edge cases, such as course reserves)

[2020-01-29 14:51] cdmo commented on #77
On hold pending resolving inconsistency in where requests get block processed

[2020-01-29 14:51] cdmo commented on #63
think this should wait until #89 is in

[2020-01-29 14:52] cdmo commented on #2
I'm interested in changing this to a general "overall review" of labels throughout.

[2020-01-29 15:02] ruthtillman commented on #2
@cdmo that would be fine, yes.

[2020-01-29 15:21] ruthtillman commented on #25
No -- @mkutch is there a way we could set something like this up on Test Cat? So we could see what the screen looks like for a current Cat user?

[2020-01-29 15:25] ruthtillman commented on #62
"Basically I made it so you can specify either a pick up location change and/or pick up by date change." -- yes, I think this is how it should be. You shouldn't need to do both.

[2020-01-29 19:34] cdmo opened #92 "Review sessions"

[2020-01-30 13:08] cdmo commented on #5
One other observation about interaction in holds that's kinda gnawing at me:

On the holds page there are two groups of holds. A current behavior in elibrary is that when you check a box from the "holds ready" group *and* the "outstanding holds" group and then click the Cancel Holds button at the bottom of the page, only the checked holds from the Outstanding Holds group will be processed. Also, w

[2020-01-30 15:48] ruthtillman commented on #5
🤔 There's definitely a good logic for separating "these are the ones available and you can do X to them" and "these are the ones not available and you can do X, Y, and Z to them." But I also find it a weird/frustrating usability experience. 😒 Open to ideas about other ways of displaying them, but I think the functionality is kind of limited by the different ways you can interact with the two group

[2020-01-30 16:56] cdmo commented on #5
Another thing I discovered today: if you try to modify the pick up by date for a hold not yet ready whose current pickup by date has passed, Sirsi responds with an error like "the pickup date has passed, you can't change it." Our app as it is now just returns an error saying it couldn't do it.

I _think_ it's okay that we don't display the specific error message here because this scenario is so un

[2020-01-30 16:58] ruthtillman commented on #5
I think saying it can't do it and to contact your campus library might be the best bet? The people on the desk can make different kinds of edits.

[2020-01-30 18:44] ruthtillman commented on #87
Looks good!

[2020-01-30 18:44] #87 closed

[2020-01-30 18:57] ruthtillman commented on #70
Looks good.

[2020-01-30 18:57] #70 closed

[2020-01-30 18:58] ruthtillman commented on #74
Success! (I'm running into some issues w/accounts who have large numbers but I think this may be a heroku memory thing?)

[2020-01-30 18:58] #74 closed

[2020-01-30 18:59] ruthtillman commented on #4
Display looks good but we need something on how to pay them: Show how to pay them.

[2020-01-30 19:10] ruthtillman commented on #45
Looks good.

[2020-01-30 19:10] #45 closed

[2020-01-30 19:11] ruthtillman commented on #62
Made edits to both kinds. Works as expected!

[2020-01-30 19:11] #62 closed

[2020-01-30 19:11] #85 closed

[2020-01-30 19:11] ruthtillman commented on #66
Alien Quadrilogy looks good! (as do others)

[2020-01-30 19:11] #66 closed

[2020-01-30 19:12] ruthtillman commented on #65
👍

[2020-01-30 19:12] #65 closed

[2020-01-30 19:12] ruthtillman commented on #68
👍

[2020-01-30 19:12] #68 closed

[2020-01-30 19:12] ruthtillman commented on #64
👍

[2020-01-30 19:12] #64 closed

[2020-01-30 19:13] ruthtillman commented on #67
👍

[2020-01-30 19:13] #67 closed

[2020-01-30 19:19] ruthtillman commented on #83
Can't judge refactors as much but this seems ok. The Select All box is in a weird place but I assume styling will take care of that.

[2020-01-30 19:20] ruthtillman commented on #60
Seems good!

[2020-01-30 19:20] #60 closed

[2020-01-30 19:20] ruthtillman commented on #7
Works for me from my login.

[2020-01-30 19:21] ruthtillman commented on #1
Seems good.

[2020-01-30 19:21] #1 closed

[2020-01-30 19:22] ruthtillman commented on #20
Seems good.

[2020-01-30 19:22] #20 closed

[2020-01-30 19:23] ruthtillman commented on #8
Worked for me.

[2020-01-30 19:23] #8 closed

[2020-01-30 19:39] ruthtillman commented on #69
👍

[2020-01-30 19:39] #69 closed

[2020-01-30 19:40] ruthtillman commented on #5
The current implementation looks good.

[2020-01-30 19:40] #5 closed

[2020-01-30 19:41] ruthtillman commented on #6
This is a very complex issue but looks good according to my reviews.

[2020-01-30 19:41] #6 closed

[2020-01-30 19:59] cdmo opened #96 "Ability to place holds"
- [x] `Hold#create` - @banukutlu
- [x]  Include symphony client request for placing holds - @banukutlu
- [x] ~`Hold#new` form with pickup location and pickup up by date. Can use existing update hold not yet ready update form - need to turn into a partial and call from another view for new.~ see #106
- [x] Ability to handle redirect to where request came from (blackcat record show)
- [x] Explore co

[2020-01-30 20:08] cdmo opened #97 "Form validations"
* Check for any checkboxes checked?
* Confirm messages/prompts needed (like for canceling a hold?)?
* Other validations or concerns to check for?

[2020-01-30 20:13] cdmo opened #98 "Production connections for WS and upgrade"
Including an upgrade to the Sirsi Web Service to 6.0

[2020-01-30 20:36] #83 closed

[2020-01-30 20:36] #7 closed

[2020-01-30 21:01] mkutch opened #99 "Do not link to records with these item types"
The following item types are not in the public catalog. When displaying do not link.

 `CARRELKEY, EBOOKREADR, EQUIP14DAY, EQUIP24FEE, EQUIP24HR, EQUIP3DAY, EQUIP4HR, EQUIP5DAY, EQUIP7DAY, ILL, LAPTOP`

[2020-01-31 15:00] cdmo commented on #74
@ruthtillman do you recall how many went through the request? I would like to take a quick double check.

[2020-01-31 15:02] cdmo commented on #4
I don't think elibrary shows how to pay them, but, yeah, we definitely should detail that. Kind of an important detail! :)

My understanding is that it's done through the bursar's office. Is that right? Maybe we could get Chris to draft a blurb?

[2020-01-31 15:03] cdmo commented on #4
![Screenshot 2020-01-31 10 03 23](https://user-images.githubusercontent.com/523381/73549631-f17eb580-4410-11ea-89fa-72cc7e0e0d7c.png)

[2020-01-31 15:24] cdmo opened #102 "Polish select all component"
Like make the label text and placing consistent in holds and checkouts and make it... good.

See https://github.com/psu-libraries/myaccount/issues/83#event-2994823971

[2020-01-31 16:13] ruthtillman commented on #74
It was one of the patrons with hundreds of records. I think they may have all renewed but then stalled.

[2020-01-31 20:27] banukutlu commented on #96
@mkutch when placing holds with ws, it requires `SD-Working-LibraryID` header to be passed in. Would this be same as the pickup library or something else?

[2020-01-31 20:44] cdmo commented on #4
Flagging this as ready to be reviewed again (it is on QA) to check on the bills/fines that lead to error messages before? @ruthtillman

[2020-01-31 20:46] cdmo commented on #70
I talked with @mkutch today, the itemType is canonical. She said that Shane Burris said that it is reliable 99.9% of the time, it is populated by a dynamic process. It is rare that this process fails and in those cases ILL will fix manually. (Just wanted to record this)

[2020-01-31 22:08] mkutch commented on #96
Talked with @banukutlu and the SD-Working-LibraryID is the patron's library.

[2020-02-03 14:14] cdmo commented on #96
@ruthtillman I am recommending we remove the "Reset" button here, all it does is reset the form (with two total inputs) back to their default state.

![Screenshot 2020-02-03 09 13 06](https://user-images.githubusercontent.com/523381/73660065-79f59400-4665-11ea-99ca-28ae73ec27b6.png)

I think it's more confusing than useful. Is that alright? We can keep "Cancel" and have it just take a user back to

[2020-02-03 14:19] ruthtillman commented on #96
I think cancel taking them back to the catalog record makes sense. Some forms are complex enough to require resetting, but this does not seem to be one of them.

[2020-02-03 14:39] ruthtillman commented on #4
Checked and looks good.

[2020-02-03 14:53] cdmo commented on #4
Going to go ahead and close

[2020-02-03 14:53] #4 closed

[2020-02-04 13:35] cdmo opened #106 "New hold form"
from #96

[2020-02-10 20:08] cdmo opened #108 "Volume sort"
Sort the checkboxes of items on the new hold form

[2020-02-11 13:02] cdmo opened #109 "Filter volumetric items based on holdable locations"

[2020-02-11 13:03] cdmo opened #110 "Default pickup by date 2 months from now"
stemming from #106

[2020-02-11 13:03] cdmo opened #111 "Sort volumetric items presented as checkbox in new request"
stemming from #106

[2020-02-11 13:04] cdmo opened #112 "Group things."
Stems from #106

* Group all non-volumetrics (see `476022`, ~the most recent publication~ is grouped across locations and `15513` - actually this isn't the "most recent publication" - it's actually more likely to be "things we don't understand better" but we are still grouping them together because we lack better data)
* Group volumetrics of the same call together (see `7517385`)

This will mimic

[2020-02-11 13:05] cdmo opened #113 "Use bib item actionview component"
stemming from #106

Use bib item actionview component for display of bib information in request new

[2020-02-11 13:06] cdmo commented on #111
duplicate of #108

[2020-02-11 13:06] #111 closed

[2020-02-11 13:15] cdmo commented on #77
Wanted to make a note here that @banukutlu and I talked, and I believe we're going to avoid cookie overflow by not using cookies for messages and instead show highlighted rows for books that have been renewed (or whatever action)

[2020-02-11 14:26] cdmo commented on #109
@mkutch

[code]

[2020-02-11 14:56] cdmo commented on #106
@ruthtillman

Do you have a preference in what we display to patrons in terms of items? Elibrary shows just the volume and I set My Account to show the whole call number. Now I'm not sure which we'd want. Here's a side by side:

![Screenshot 2020-02-11 09 53 40](https://user-images.githubusercontent.com/523381/74247774-9b353080-4cb4-11ea-8832-f958090ccd45.png)

Maybe we should just display the vol

[2020-02-11 15:49] cdmo commented on #109
nothing to see here

[2020-02-11 15:49] #109 closed

[2020-02-11 16:16] ruthtillman commented on #106
Good question! Let's go with the volume segment. It takes up less screen real estate and the call number portion should almost never matter.

[2020-02-11 18:06] mkutch commented on #106
@ruthtillman can you take a look at this too? Their will be cases where there is no volume data.

![image](https://user-images.githubusercontent.com/43478453/74264775-3fc46c00-4ccf-11ea-9281-ac40eb66df5a.png)

[2020-02-11 18:48] ruthtillman commented on #106
Oh jeez, that is a good point @mkutch ... it also seems like the micro thing might be more useful than just no 29

I guess that's an argument to keep it. It would be too much overkill to do something v. detailed around it.

[2020-02-11 20:52] ruthtillman opened #114 "Synchronize data on pickup locations"
Currently, pickup locations drop-down and display are coming from two different data sources. Synchronize to match the display to the drop-down, e.g. Pattee Commons desk vs. Pattee/Paterno Stacks.

[2020-02-11 20:53] ruthtillman opened #115 "Volumetrics - 1 item as hidden input"
If only one item of a multi-volume set should be holdable, e.g. there's an ebook copy + a print copy, then pass the item info as a hidden input and don't display the volume selection screen.

[2020-02-12 13:22] cdmo opened #116 "Disable masquerading for production"

[2020-02-12 14:24] mkutch commented on #115
catkeys
`15186836`
`67483`

[2020-02-12 19:58] ruthtillman opened #117 "Confirm WebServices version/protocols"
We are building against test, which uses a different version of WebServices than prod. Before releasing, we will need to be sure that our app can run against prod. Review WebServices documentation?

[2020-02-13 15:05] cdmo commented on #115
For `72376`

There are a total of 10 potential holdable items. After filtering out those that have current locations that are not holdable there are 7. Of these 7, 6 have values for volumetric. So the result is this

![Screenshot 2020-02-13 10 02 32](https://user-images.githubusercontent.com/523381/74447928-1aa73900-4e48-11ea-9e57-fe148266b331.png)

Can you double check that one?

This is what it

[2020-02-13 15:17] cdmo commented on #115
`15186836` is good. One ebook and one physical local holding.

[2020-02-13 15:25] cdmo commented on #115
Okay, now for `15513` @mkutch

5 potential holdables. 3 that have holdable current locations. There _is_ only one of those three that has a volumetric, however, the current logic dictates that for a set to be presented to the patron there need only be one volumetric and one or more other item regardless of volumetric status.

![Screenshot 2020-02-13 10 21 27](https://user-images.githubusercontent.

[2020-02-13 15:29] cdmo commented on #115
@banukutlu and @ruthtillman for testing purposes of this issue, please refer to `15186836` and `67483` (@banukutlu is reviewing now, nothing for you just yet @ruthtillman)

[2020-02-13 19:21] cdmo opened #118 "View spec for holds/new"
Waiting until dust settles on remaining issues for new

[2020-02-13 20:41] mkutch commented on #115
catkey `72376` - looks good AND filtering out online is an improvement ... I see of the 7, 7 has volumetrics. Is that also what you see on your end?

catkey `15513` - see in e-library the list of libraries next to the first checkbox and you see Harrisburg. so they are grouping all the non-volumetrics together

[2020-02-14 14:16] cdmo commented on #106
Re-opening, this still needs to be reviewed

[2020-02-14 14:21] cdmo commented on #99
@ruthtillman you have reviewed this already right? e.g., `PALCI` records don't try to link to the catalog.

[2020-02-14 14:22] ruthtillman commented on #99
Oh yes I think so?

[2020-02-14 14:25] cdmo commented on #99
@mkutch can you provide any catkeys for the items you mentioned at https://github.com/psu-libraries/myaccount/issues/99#issue-557750416

[2020-02-14 14:41] banukutlu opened #120 "Workaround for records in use response"
Symphony responses with `"The records are currently in use.  Please try again later."` error msg when canceling or placing multiple holds, and seems like after these actions since the record is busy, item info can not be retrieved as well.

We might have to take a try again approach as a workaround.

[2020-02-17 13:32] cdmo opened #122 "Check items against holdmap policy"
itemType, item library and permission

AND user profile

EDIT: combining with #123

[2020-02-17 13:33] cdmo opened #123 "Check volumetrics hold for user-specific permissions"
Search holdMap for user-specific permissions (and hide/display items)

[2020-02-17 13:36] cdmo commented on #112
After discussing with @mkutch and Jeff in Maryam's office, we went over some scenarios and believe that it may be best for user experience to show call numbers always and to not group non-volumetrics. Tagging this as question so we can bring it up at our next meeting.

[2020-02-17 15:00] cdmo commented on #113
Will not do this one. Because of the complexity of call number and item type differences, displaying the same actionview component we use for item level items elsewhere in the application just is too complicated here.

[2020-02-17 15:00] #113 closed

[2020-02-17 17:15] mkutch commented on #122
and user profile

[2020-02-17 18:28] cdmo commented on #122
I split user profile into a separate issue (#123), but perhaps this should just be one. Want to note that Chris was in favor.

[2020-02-17 21:17] cdmo commented on #118
I started a spec at #124

[2020-02-17 21:28] cdmo opened #126 "Front end validation for the form hold#new"

[2020-02-18 15:23] ruthtillman commented on #99
Not Catkey -- but @mkutch could we do someone with a bill for an overdue Laptop?

[2020-02-18 17:22] banukutlu commented on #117
@mktuch Are there any updates on prod version update? We have been developing against the new version 6.0 with the expectation that this will be the version the prod will be updated to eventually?

[2020-02-18 17:44] mkutch commented on #117
No news on when prod will be updated to version 6.0.  In the meantime, @tdouty will install web services on the development with the same version as production (2017 version).

[2020-02-18 18:08] cdmo commented on #117
Yeah, i am not super interested personally in testing our current code on 2017. I view that as a Plan B for sure. Testing our code on the 2017 version seems especially like wasted effort given that the plan is to upgrade production to 6.0 imminently.

I think I would like to get a better sense of how we can upgrade production to 6.0. If the answer to this question, line of thinking is, "well, it j

[2020-02-18 18:21] banukutlu commented on #117
I totally agree with this, testing our code on 2017 version right now, would mean an extra cycle of testing for the already closed issues, and another cycle when prod updated. And this is even without taking potentially having to change things into account...

[2020-02-18 18:32] tdouty commented on #117
I think the answer is to get SirsiDynix to make this their highest priority. I just sent another email to them. Charlie is on it, but I did not add Banu. I may send it out again with Banu added.

Todd Douty <todd.douty@psu.edu>

Systems Administrator

The Pennsylvania State University Libraries

(814) 865-4850

________________________________
From: Banu Hapeloglu Kutlu <notifications@github.com>

[2020-02-18 18:53] cdmo opened #127 "Front-end checkbox validation"
Stemming from #126, this is front-end validation for "at least one checkbox must be checked" which will require a bit of JavaScript.

[2020-02-18 20:05] cdmo commented on #112
We talked about this during our check in meeting, indeed we will not be grouping non-volumetrics.

[2020-02-18 20:06] cdmo commented on #123
dupe of #122

[2020-02-18 20:06] #123 closed

[2020-02-18 20:10] cdmo opened #130 "Dynamic pickup locations"
Adding this as an issue just close it (document it) as a "wontfix." We have the ability to dynamically set pickup locations during the hold place (or hold edit) process, but after @mkutch and I spoke with Chris we came to the conclusion that while this might be a better systems-based approach, it won't be feasible due to the fact that it would prevent library staff from doing what they need to do.

[2020-02-18 20:10] #130 closed

[2020-02-18 20:16] cdmo opened #131 "Validation for holds#new catkey presence"
If not, redirect to catalog homepage

[2020-02-18 20:25] cdmo commented on #122
in our check in meeting today @ruthtillman approved this method with a caveat to see how page performance was affected on the new hold form for volumetrics with lots of items (like national review)

[2020-02-18 21:01] cdmo opened #132 "add itemType to the checkbox item in holds#new"

[2020-02-19 13:29] cdmo commented on #120
I believe @mkutch put in a ticket with Sirsi on this. Any response?

[2020-02-19 14:05] ruthtillman commented on #99
Looks good!

[2020-02-19 14:05] #99 closed

[2020-02-19 14:24] ruthtillman commented on #106
Looking good. Re: the date picker, I think auto-populating (like we do in e-Library) it is probably a better idea than forcing the user to do so. Maybe 3 months out? When using it on my computer, one time I accidentally selected tomorrow and had to go back and fix it. Auto-populating and letting the user change seems like a friendlier choice for now.

[2020-02-19 14:43] cdmo commented on #106
@ruthtillman see #110. In e-library the default is 2 months from today so that's what we went with. I am deploying the code change (which hasn't been reviewed by @banukutlu just yet)  to heroku now so you can take a look.

[2020-02-19 14:44] mkutch commented on #120
Sirsi hasn't been able to replicate the issue in-house yet. They asked for some info which I responded.

[2020-02-19 18:11] cdmo commented on #120
Ok. I think then we'll wait until that thread resolves before jumping in to fix this on our end then.

[2020-02-20 15:14] banukutlu opened #133 "View spec for hold/result"

[2020-02-20 16:56] cdmo opened #134 "Document how web services is upgraded regularly"
We need to create a document to cement our understanding of when and how the web services will be updated for ongoing maintenance of the application.

[2020-02-20 16:56] cdmo commented on #117
I wanted to write down our hallway-meeting decision so that @banukutlu knows what's going on and we don't forget what we decided:

* The plan for now is to wait and see if the upgrade of web services to 6.0 on our production instance occurs.
* Current issue blocking the upgrade has been ongoing since November and may be resolved tomorrow or a year from now.
* If web services is not upgraded to 6.0

[2020-02-21 14:19] cdmo commented on #120
@mkutch and I worked to create reproducible steps for the vendor, the vendor verified the issue and acknowledged it's happening for them too. Their response is that we must just send repeat queries (as we have suspected). So this issue can be worked on now.

[2020-02-21 15:36] cdmo commented on #122
@mkutch wanted to put this issue on hold until she conducts more research

[2020-02-21 16:25] cdmo commented on #112
After discussing with @mkutch and Jeff Edmunds, we've landed at "we should indeed continue to group non-volumetric holdables" - the reason being that there is a bit of a black box in terms of how a hold placement is processed once received and we want to play it safe and mirror the current process so as not to disrupt service/process.

[2020-02-21 21:27] cdmo commented on #112
volumetrics that are of different call must be grouped in the new request form too.

non-volumetrics are grouped regardless of call number.

[2020-02-25 13:09] cdmo opened #136 "Setup monitoring"
Live tail logs and create alerts for http errors in the symphony client
Other monitoring too.

Will be DataDog and Splunk

Update: do #239 first

[2020-02-26 16:49] banukutlu opened #137 "Custom error response pages"

[2020-02-26 18:09] cdmo commented on #137
like page not found and 500s?

[2020-02-26 19:12] banukutlu commented on #137
yup

[2020-02-27 13:21] cdmo commented on #133
this was part of #119 closing

[2020-02-27 13:21] #133 closed

[2020-02-27 13:22] cdmo commented on #96
this got autoclosed mistakenly, reopening

[2020-02-27 17:31] banukutlu commented on #2
Since this is now a more generic issue, could any message we show to users be revised as part of it? For example error messages for 404s and 500s #137

[2020-02-27 21:18] cdmo commented on #122
@mkutch is this still on hold, did you want to do more research still?

[2020-02-27 21:27] mkutch commented on #122
@cdmo Since we want to mirror the current process we won't be doing this, so we can close it.

[2020-02-28 12:36] cdmo commented on #122
Ok. We can always return to it later if we feel like it's worth doing. Thanks.

[2020-02-28 12:36] #122 closed

[2020-02-28 13:42] ruthtillman opened #141 "Review Other Institutions' Designs"
Let's not reinvent the wheel where possible. Other doing this in some way:

- New School (presentation in April)
- Houston
- Millersville: https://www.oclc.org/content/dam/oclc/events/2019/rsc19/presentations/OCLC_RSC19_Single_Click_User_Request.pdf

[2020-02-28 13:43] ruthtillman opened #142 "No Recalls: Create Illiad hold placement landing page"
When users click through from the Catalog, if the hold should be placed through ILLiad, they land on a page which allows them to complete the hold. This page will include elements of the catalog record so that they don't have to fill these in. It will also contain a few optional elements that are ILL-specific (e.g. will they take an alternate or digital edition of the item)

Final contents of the

[2020-02-28 13:46] ruthtillman opened #143 "Send Request to Illiad"
Rather than splitting the user's experience by redirecting them to Illiad, use the Illiad API to place the request: https://support.atlas-sys.com/hc/en-us/articles/360011809394-The-ILLiad-Web-Platform-API

This may involve figuring out methods to handle Illiad being slow or temporarily down (e.g. New School uses MySQL holding database and attempts to place hold every 5 min, updating status when ho

[2020-02-28 13:47] ruthtillman opened #144 "Determine and Handle Edge Cases"
What edge cases are we dealing with? Work with Chris on documenting these. One example which has come up:

What happens if Charlie puts a hold on a book and Chris picks it up and checks it out before it's fulfilled?

Many of these may be handled in Symphony report or somesuch, but we need to know what they are to know how we should handle them.

[2020-02-28 13:48] ruthtillman opened #145 "No Recalls: Handle Volumetrics in Illiad Requests"
When the bib has volumetrics, can we send that info to Illiad?

Sample record: https://catalog.libraries.psu.edu/catalog/1220852

we'll use ItemInfo2 - is it possible to get _just_ the volume from webservices? using 1220852

[2020-02-28 19:06] ruthtillman commented on #96
Tested and behaves well. One question -- if I go directly to something like http://myaccount-qa.herokuapp.com/holds/new?catkey=2890523 and hit Cancel, it doesn't seem to do anything.

[2020-02-28 19:07] #106 closed

[2020-02-28 19:07] #110 closed

[2020-02-28 19:08] ruthtillman commented on #126
Date picker validates. Even if I try to manually input a new date that's before today, it fails.

[2020-02-28 19:09] #126 closed

[2020-02-28 20:48] cdmo commented on #96
Yep, that is note coded up yet. Will be functional early next week I think.

[2020-02-28 20:55] cdmo opened #146 "Make it spin"
Larger batches of requests can be slow. Loading lots of records on a holds or check page can be slow. Consider adding spinner or some such.

https://getbootstrap.com/docs/4.4/components/spinners/

[2020-03-03 15:11] ruthtillman commented on #115
The one-item issue has been solved, but it needs splitting out to address other questions raised?

[2020-03-03 15:13] #108 closed

[2020-03-03 19:43] cdmo commented on #115
@mkutch as you said, `72376` does look good (online option filtered). All volumetrics are showing.

`15513` will be handled in #112

[2020-03-03 19:43] #115 closed

[2020-03-03 20:43] cdmo commented on #112
@ruthtillman We group all non-volumetrics together regardless of call. So this can get a little weird. For example, see `15513`. In e-library we don't display call so it's just a parenthetical with locations (which is not good UX of course). In MyAccount we are display call number of course. So, I think we can just not display a call number when grouped? Or display all of them? Not sure.

![Screen

[2020-03-03 20:49] cdmo commented on #112
Maybe it should just be like:

* [ ] Book

So just displaying the item type.

[2020-03-04 20:59] cdmo commented on #112
For now I'm just picking the first Call and using it's call number. So in the above case that's

![Screenshot 2020-03-04 15 59 14](https://user-images.githubusercontent.com/523381/75922501-1c559280-5e31-11ea-83e8-8b49544419ce.png)

[2020-03-04 21:10] cdmo commented on #131
@banukutlu is it maybe ok to just have the default 500 error appear? Thinking that this isn't really needed anymore. What would be the scenario where someone did pass along a catkey, you know? It's not something they choose in a form...

[2020-03-05 14:06] cdmo commented on #10
Need to fix/remove this broken link when the time comes. I understand that the current system cannot be modified.

![Screenshot 2020-03-05 09 05 15](https://user-images.githubusercontent.com/523381/75989021-81a49480-5ec0-11ea-9446-9497910e447b.png)

[2020-03-05 21:12] banukutlu commented on #131
Yes, it makes sense 👍

[2020-03-05 21:14] banukutlu opened #151 "Refactor place hold results"
move from holds controller to a service

[2020-03-05 21:21] #131 closed

[2020-03-06 21:19] cdmo opened #153 "Investigate async-ing symphony client calls"
Redis, sidekiq, active job, and [Bootstrap Toasts](https://getbootstrap.com/docs/4.3/components/toasts/) potentially

[2020-03-11 17:11] banukutlu commented on #117
per @mkutch

[2020-03-11 17:12] #117 closed

[2020-03-11 17:30] banukutlu opened #155 "Change hold pickup location wording"
Chris asked us to change the wording for one of the hold pickup locations:

[2020-03-16 18:01] cdmo opened #160 "Redis in production"
Add Redis to our production environment

Last piece needed to finish off #152 and #77

May need an env setting for redis password. See https://github.com/psu-libraries/myaccount/pull/152#issuecomment-598743973

Tagging @whereismyjetpack on this so he's aware.

[2020-03-17 14:07] #155 closed

[2020-03-17 14:08] #132 closed

[2020-03-17 14:09] ruthtillman commented on #137
Note -- when placing hold and it had JSON/500 error, no error message.

[2020-03-17 14:11] ruthtillman commented on #112
Check what's happening with Shenango in http://myaccount-qa.herokuapp.com/holds/new?catkey=7517385

[2020-03-17 14:17] ruthtillman commented on #112
The display of the call number in the catalog vs. the display in the I Want It screen vs. the display in successful "I Want It" results seems to differ in whether "DVD disc" is added or not... is it grouping successfully because of the variance? Is it not?

[2020-03-17 14:25] ruthtillman commented on #112
@mkutch what happens if every other disc 7 is made unavailable... then will our new holds placement place a hold on the Shenango disc 7?

[2020-03-17 14:26] ruthtillman commented on #96
Getting 500 error during holds placement for JSON response but it's working.

[2020-03-17 14:43] cdmo opened #161 "Make item type display and translation dynamic"
Leverage caching too

See holobar's account, there's a new item type that has no translation. (`EQUIP7DAY5` or something)

Thanks @mkutch for finding this

[2020-03-17 14:45] cdmo opened #162 "Don't link if shadowed *OR if it's equip7day5*"
See holobar's account, it's trying to link to a shadowed item

Thanks @mkutch for finding this

@mkutch can you let us know what field indicates shadowed?

[2020-03-17 15:30] mkutch commented on #162
@cdmo When you do a bib level web service call the field is called `shadowed` and the values are true and false.

[2020-03-17 17:22] cdmo commented on #112
Just wanted to write out that what we learned with 7517385 is that there is an inconsistent "DVD" present in volumetric, however, the display call numbers are the same (the shenango copies must put `DVD` in the call number)

[2020-03-17 17:24] cdmo commented on #162
Perfect, thanks.

[2020-03-19 16:47] banukutlu commented on #96
Fix for this issue added to https://github.com/psu-libraries/myaccount/pull/157

[2020-03-21 13:52] cdmo commented on #77
marking this as closed as this is more of a technical thing that we can review rather than a front-facing change

[2020-03-21 13:52] #77 closed

[2020-03-25 12:41] #92 closed

[2020-03-25 12:42] #151 closed

[2020-03-31 15:01] ruthtillman commented on #112
Did some tests and this appears to be behaving well!

[2020-03-31 15:01] #112 closed

[2020-03-31 15:05] ruthtillman commented on #162
Checking Holobar's account, the Course Reserve isn't showing up but equip7day5 test up (catkey 29014105) is still showing up linked... is this a different to-do?

[2020-03-31 15:23] ruthtillman commented on #120
I don't know exactly how to test this, but reading through the process looks good.

[2020-03-31 15:23] #120 closed

[2020-03-31 17:10] banukutlu commented on #162
That one has an item type that was only defined in test afaik, right @mkutch. We do not link several item types and this should be one of those normally.

[2020-03-31 19:02] mkutch commented on #162
@banukutlu Yes, that item type is not in production policy.

[2020-03-31 19:05] cdmo opened #167 "Asyncify: New hold requests"
In heroku you can select a lot of items (20+) and the browser basically just appears to stop, nothing happens. On the server this happens:

[code]

![Screenshot 2020-03-31 15 06 15](https://user-images.githubusercontent.com/523381/78065436-4aab8c80-7361-11ea-8d95-98bcab19341e.png)

h/t @ruthtillman for reporting.

- [x] See specifically the `The records are currently in use. ` error in the above l

[2020-03-31 19:14] cdmo commented on #162
that will be fixed with #130

[2020-03-31 19:17] cdmo commented on #162
#130 will provide dynamic itemType translations, and I can also add the filter for equip7day5 there too. Sound good?

[2020-03-31 19:46] banukutlu commented on #162
I think there is no need to add this type, afair that one is only added for testing purposes. @mkutch?

[2020-03-31 19:49] cdmo commented on #162
Thought it was in test because it was going to be added to prod eventually?

[2020-04-01 17:30] cdmo commented on #153
POC is in a working state at #166. Uses sidekiq and redis to turn the application into a partial API. This is one option. POC is only working on pickup library location changes for now.

[2020-04-01 21:16] cdmo commented on #114
Just want to mention that the list of locations to choose is a custom list set by Chris in the current e-library system - so we do have parity with e-library as it is right now. Translations for pickup location codes in the hold tables are done with a custom map we load from My Account.

But, I guess my point is that he knows that it is custom and different. I wonder if we should check with him on

[2020-04-01 21:19] cdmo commented on #134
@mkutch can you tell me what the communication channel is for updates? How is it decided that the web services software will be updated and how can we get notified?

[2020-04-03 13:34] mkutch commented on #134
Sirsi steer committee decides the updates of that and @ruthtillman is on that committee.

[2020-04-03 13:34] mkutch commented on #162
@banukutlu I emailed Chris asking if equipp7day5 was going to move into prod. His response

[2020-04-03 17:47] cdmo commented on #134
ok. Great. I see the team page on the staff site. Looks like they meet once a month and we'd be notified by them when upgrades happen. Thanks.

[2020-04-03 17:47] #134 closed

[2020-04-03 17:53] cdmo commented on #162
So i'll add it to our exclusion list of linked items. (just coordinating with @banukutlu so we don't both do it)

[2020-04-05 15:15] cdmo commented on #118
More added here: https://github.com/psu-libraries/myaccount/commit/2d428b8f5821eb1e8dc656508ec1175c71ed52cb#diff-ef6c4a73ad466dc8f94b7c78902c90d9

[2020-04-05 15:18] cdmo commented on #118
Actually I think the above pretty much covers it. Marking this closed. Let me know if that's wrong.

[2020-04-05 15:18] #118 closed

[2020-04-07 14:41] cdmo commented on #116
as a result of our my account checkin today:

* @cdmo will make a flow chart of proposed
* @banukutlu will review

[2020-04-07 14:48] cdmo commented on #10
@ruthtillman will be bringing issues that were discussed during my account checkin today to the Sirsi Steer team

[2020-04-07 14:50] cdmo commented on #114
Will bring Chris H into this conversation, maybe the next My Account checkin, @ruthtillman will be coordinating that

[2020-04-08 17:55] cdmo commented on #161
Just want to mention that the only thing that needs review here is that a) the item type descriptions still show up correct and b) that the new `equip7day5` is unlinked

[2020-04-08 22:02] cdmo commented on #116
Flowcharts for authentication:

* [As it is now](https://psu.box.com/s/scb0h8nze1rbs6a98rcp2t1x9wvj6b4s)
* [Potential solution](https://psu.box.com/s/4x7kb9o73ddop9li2vyfwqez7dk0os38)

[2020-04-10 15:09] cdmo commented on #153
I'm going to mark this as closed and future implementation work (rather than this investigation issue) will be split out into separate issues.

[2020-04-10 15:09] #153 closed

[2020-04-10 15:09] cdmo commented on #153
General strategy outlined here:

https://github.com/psu-libraries/myaccount/pull/166#issuecomment-611670938

[2020-04-10 15:13] cdmo opened #173 "Asyncinfy: Change pickup library location of Hold"
Patron should be able to change pickup library and page will not reload, rather content will update asynchronously in-page

work is already in progress at #166

[2020-04-10 15:16] cdmo opened #174 "Spec for SymphonyClient#get_item_type_map"

[2020-04-14 14:48] #174 closed

[2020-04-14 18:03] #162 closed

[2020-04-15 15:41] banukutlu commented on #116
Thanks @cdmo for writing these up, your proposed solution makes sense to me. One question I have is the order of auths, wondering if it would matter if we do the myaccount webaccess authentication prior to Sirsi one?

[2020-04-15 16:54] cdmo commented on #116
I don't think it would 🤔 Do you have a concern?

[2020-04-15 18:13] banukutlu commented on #116
No, I do not, was just trying to figure if the order matters.

[2020-04-15 19:20] banukutlu opened #177 "Asyncinfy: Renewals"

[2020-04-16 03:23] cdmo opened #178 "disable submit button for editing/cancelling pending holds"
Should be disabled by default and enabled when any box is checked

[2020-04-17 02:41] cdmo opened #179 "Web service error logging and in-page error notifications to users"
Create contents of the polling.js error function

- [x] Client side error notifications
- [x] ~Client side error logging~ see #207
- [x] Server side error logging

from #166

[2020-04-17 03:04] cdmo opened #180 "Jest tests due"
for polling and change pickup location

from #166

[2020-04-17 03:09] cdmo opened #181 "Asyncify change pickup date"

[2020-04-17 12:55] cdmo commented on #146
Going to close this as it I think it was more of a "should we do this?" discussion kind of issue. We talked it over at a My Account meeting recently and work has already been done to bring  in the spinners.

[2020-04-17 12:55] #146 closed

[2020-04-21 01:08] cdmo commented on #180
talked with @banukutlu on Slack, closing

[2020-04-21 01:08] #180 closed

[2020-04-21 17:14] #161 closed

[2020-04-22 03:30] cdmo commented on #179
This came up at our checkin today, we and @ruthtillman all seemed to agree that using a Bootstrap Toast is probably a good idea to try as long as it can be canceled and is accessible

[2020-04-22 21:00] cdmo commented on #179
I rigged up an example of how this will work. I think this is working for the most part, I do like it. It's less obtrusive than a modal window or an alert which is nice. Here's a demo, @ruthtillman what do you think? (apologies for poor image quality):

![toast](https://user-images.githubusercontent.com/523381/80033364-9366e900-84ba-11ea-930f-503972f53360.gif)

[2020-04-23 14:00] ruthtillman commented on #179
Yes, I like the obvious redness when there's a problem and then the Redness of error.

If they're successful, will it still load the green box at the top or anything like that?

[2020-04-23 14:54] ruthtillman commented on #179
I think if it's successful, then anything that needs to be closed like a toast is probably overkill, so loading in the older way would be better?

[2020-04-23 17:27] cdmo commented on #179
toasts can be set to auto close after a duration. I was thinking that 10 seconds would be a reasonable amount of time for any toast to be closed (success or fail). For someone with a lot of items the toasts could pile up on a big requests, but not sure what else can be done about that. Toasts can also be positioned anywhere on the screen fwiw.

The older way could work okay, but, if a user is scro

[2020-04-27 18:22] cdmo opened #186 "async deleting (canceling) of holds"

[2020-04-28 02:20] cdmo opened #187 "Migrate "record in use" error to ActiveJobs"
We need to raise on that record in use error in a job so that it will try again (with exponential backoff)

https://github.com/mperham/sidekiq/wiki/Error-Handling

[2020-04-28 18:51] cdmo opened #189 "Async the getting of holds, displaying holds table(s)"

[2020-04-28 18:53] cdmo commented on #179
Recap what we discussed at today's check in meeting:

- [ ] We'll only use toasts for errors
- [ ] Success will be shown as green checks  ✅  next to the update item after the spinner is gone and the new value is present.
- [ ] We'll need to make sure to translate errors as needed (as in error codes from Sirsi translated to human-understandable messages)
- [ ] Monitoring will be critical

[2020-04-28 18:54] cdmo opened #190 "Monitoring of logs, especialy Sirsi WS logs from Sidekiq"
Need to monitor for errors by some means

[2020-05-05 18:12] cdmo commented on #189
Here's a quick demo of where it is right now

https://psu.box.com/s/lbjlh5eo5cgd96ehfvx33zj4utzr5l1u

[2020-05-12 19:06] banukutlu opened #196 "Asyncinfy: Checkouts display"

[2020-05-20 17:06] daws-bot opened #197 "Test ticket from Code Climate"

[2020-05-20 17:06] #197 closed

[2020-05-20 17:07] daws-bot opened #198 "Fix "similar-code" issue in app/jobs/view_checkouts_job.rb"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/psu-libraries/myaccount/app/jobs/view_checkouts_job.rb#issue_5ec5509443fbc70001000094

[2020-06-02 12:33] cdmo commented on #116
Hey @banukutlu I just now noticed that you removed yourself from this one. Are you done looking at it then? Should we go forward with the proposed solution you think? This means closing this issue and making a new issue for adding WebAccess to the application itself (secondary layer of webaccess). It has been some time since I looked at this but I recall vaguely you wanted to look at it closer bef

[2020-06-05 17:37] banukutlu commented on #116
Yes, I think your proposed solution makes sense and we should implement it.

[2020-06-05 17:41] cdmo opened #200 "Azure SSO for production"
To prevent masquerading, as discussed in #116

[2020-06-05 17:41] cdmo commented on #116
ok cool, see #200

[2020-06-15 15:41] cdmo commented on #160
Emailed with Eric about this back on 6/11, he's working on setup

[2020-06-15 15:46] cdmo commented on #200
Emailed with Eric about this on 6/11. Apparently webaccess is going by the wayside. He is investigating the new, easier to use solution Azure SSO

[2020-06-29 20:02] ruthtillman opened #206 "Default hold pickup location to their campus if possible?"
In the holds placement screen, can what we know about users so that if they're logged in, I'll show UP and someone else will show Beaver, etc? Do we have this info?

[2020-06-30 17:58] mkutch commented on #206
For the call `/user/patron/key/{patron_key}` there's the `{library}` endpoint.

[2020-07-01 18:12] cdmo commented on #198
This is fixed in #182

[2020-07-01 18:16] cdmo opened #207 "Client side error logging"
from #179

maybe with [honeybadger](https://docs.honeybadger.io/lib/javascript/index.html)?

[2020-07-02 23:25] banukutlu commented on #179
just attaching a screenshot, it looks nice overall

<img width="1051" alt="Screen Shot 2020-07-02 at 7 23 33 PM" src="https://user-images.githubusercontent.com/6477867/86416983-aad00880-bc99-11ea-8c9d-7a033ace092a.png">

[2020-07-03 14:43] banukutlu commented on #179
@ruthtillman Charlie and I wanted to get your feedback for how values look when a renewal or in general any action gets an error as response. See the above screenshot, currently we have `Error` as the value for those columns where we are expecting to change with a success. We talked about an idea of keeping the values and adding a warning icon next it like a triangle sign etc. to indicate that it

[2020-07-03 14:47] banukutlu commented on #179
@ruthtillman another question we had is for custom error messages #69, do we want these translation for all actions for renewals only?

[2020-07-08 21:22] cdmo commented on #179
Hold creation can generate some vague error messages too though:

* `{"messageList":[{"code":"hatErrorResponse.17286","message":"Hold not allowed"}]}`
* `{"messageList":[{"code":"hatErrorResponse.722","message":"User already has a hold on this material"}]}`
* `{"messageList"=>[{"code"=>"recordNotFound", "message"=>"Could not find a(n) /catalog/bib record with the key 29233955."}]}`

Still not sure

[2020-07-09 19:16] ruthtillman commented on #179
ok, so catching up post-vacation!:

1. "We talked about an idea of keeping the values and adding a warning icon next it like a triangle sign etc. to indicate that it did not change. What do you think?" this sounds good. I prefer it to the text Error.

2. Errors for both hold placement and renewals sounds good. I think for holds placement on that page itself -- it would be better to just load the p

[2020-07-09 21:33] cdmo commented on #179
The error handling is setup such that it'll pass along the message from sirsi automatically unless we make a translation for the code associated with it because the text error message is so nonsensical. If it's a malformed response we just give a generic response. This response is what we wanted to hear, I think we're good. @banukutlu I'll modify the error notification feature to do the warning ic

[2020-07-15 15:47] banukutlu commented on #98
just to note here: currently `Sirsi Web Services Version 6.0.1.200502245`

[2020-07-16 11:01] cdmo commented on #178
I'm looking at this again with fresh eyes and comparing my account to elibrary my account and I'm noticing that the reason that change pickup location and pickup by date are disabled is because of the fact that "cancel hold" is checked by default. So that disabling is really a product of the combined form. Our application does not combine the forms, it splits them into two. I'm going to close this

[2020-07-16 11:01] #178 closed

[2020-07-20 13:29] cdmo commented on #187
closing in favor of #167

[2020-07-20 13:29] #187 closed

[2020-07-21 14:34] cdmo opened #214 "client ID for production"
What will we use for the production `x_sirs_clientID`?

Created as per discussion during check in meeting

[2020-07-21 14:42] #214 closed

[2020-07-21 14:42] cdmo commented on #98
`x_sirs_clientID` from #214

[2020-07-21 17:01] cdmo commented on #98
Assigning to @mkutch because I think this is on her plate to figure out what `x_sirs_clientID` needs to be for prod (looking at permissions?)

[2020-07-23 02:06] cdmo opened #215 "actionview component deprecation"

[2020-07-26 16:29] cdmo commented on #52
I think I'm calling this one done and we can just reopen if we need to

[2020-07-26 16:29] #52 closed

[2020-07-26 16:32] cdmo commented on #13
It is set already, just need to wrangle environment variables in deployment see https://github.com/psu-libraries/psulib_blacklight_deploy/issues/78

[2020-07-26 16:32] #13 closed

[2020-07-26 16:33] cdmo commented on #63
think we have this in place now

[2020-07-26 16:33] #63 closed

[2020-07-26 16:34] cdmo commented on #78
Do you think we need more for this one @banukutlu? Currently we have spec for successful and unsuccessful renew attempts

[2020-07-27 15:32] cdmo opened #217 "Front end issues to fix"
Going to use this as a place to record various minor problems with the front end:

- [ ] Spinner alignment
- [ ] Alignment of nav items in hamburger drop on iPhone. See [Screen Shot 2020-07-27 at 11 29 38 AM](https://user-images.githubusercontent.com/523381/88560894-b5fa2800-cffc-11ea-97ff-d52bba7e6e20.png).
- [ ] Tables on mobile. See [Screen Shot 2020-07-27 at 11 29 33 AM](https://user-images.gi

[2020-07-28 14:18] cdmo commented on #97
discussed at check in today, not needed, will bring back other issues regarding validation if needed after QA

[2020-07-28 14:18] #97 closed

[2020-07-29 11:10] cdmo commented on #179
The only thing needing review on this is the error notifications on the frontend (the toasts for renewals and holds). Holds errors are seemingly impossible to recreate, but, if they ever happen again for whatever weird edge case I was in with holds a month or so ago, they'll be ready.

[2020-07-29 11:52] cdmo commented on #127
I'm closing this because 1) it's not something html5 can do natively and 2) not sure we need it, it is after all covered by backend validation.

[2020-07-29 11:52] #127 closed

[2020-07-29 11:58] cdmo opened #220 "50x template did not appear"
@ruthtillman reported during checkin meeting that making a request to place a hold for a record that does not exist gave a generic browser 50x error

[2020-07-29 11:59] cdmo commented on #2
This came up during the checkin this week: to revise the "please wait, loading" text

[2020-07-29 12:02] cdmo opened #221 "Menu styling update"
During checkin meeting this week both @ruthtillman and @mkutch reported that contrast was too light in general, but specifically for:

* the menu
* book titles and metadata

Should also double check against WCAG AA

[2020-07-29 12:03] cdmo opened #222 "Pickup location should be configurable"
This came out of this week's checkin meeting, we will make the list of pickup locations configurable due to the fact that they are very subject to change and the list is one of the few manually managed things in our application (we don't trust the data from the webservice on this information)

[2020-07-29 12:08] cdmo commented on #221
After scanning pages of the application, I only found one (surprising) WCAG AA violation:

![Screenshot_2020-07-29 My Account Pennsylvania State University Libraries](https://user-images.githubusercontent.com/523381/88798186-83723b80-d172-11ea-8a52-7d45c503bf9e.png)

The white on blue buttons on the summary page are 3.97:1 and failing to pass WCAG AA compliance.

[2020-07-29 12:29] cdmo commented on #221
@ruthtillman can you remind me what we wanted to do for the menu bar? Just change the colors to be higher contrast and make the menu links equal width? Is that about right?

[2020-07-29 13:44] cdmo opened #223 "Accessibility test by Michelle McManus"
Will be 8/11

[2020-07-29 13:48] cdmo opened #224 "Launch checklist"
All the things that must be done or checked when we launch, just sort of a grab bag of things we need to think of before we go live:

- [x] Ensure Matomo is receiving traffic
- [x] Make sure logging is operating as expected
- [x] Test in various browsers on Windows and macOS as well as on Android and iOS devices
- [x] Review with server team?
- [x] Decide if any messaging/communication needs to ha

[2020-07-29 14:03] ruthtillman commented on #2
Talked with KH and we started with: `Your items are loading. If you have a lot of items checked out, it will take some time for the page to load.` except that it will need to be broader to fit the holds page too....

[2020-07-29 14:07] ruthtillman commented on #221
Improve contrast of font & background (maybe explore other ways to show active page?), spread it out to better width--equal or somesuch

[2020-07-29 16:41] cdmo commented on #160
This has been established in production, just need to deploy the application, see https://github.com/psu-libraries/psulib_blacklight_deploy/issues/78

[2020-07-29 16:41] #160 closed

[2020-07-29 16:44] cdmo commented on #190
closing in favor of #136

[2020-07-29 16:44] #190 closed

[2020-07-29 17:18] cdmo commented on #102
Hi @ruthtillman would you mind letting me know your thoughts on options for refactoring the display/behavior of select all:

One option is to remove the first column called "Select" and merge it with "Item" and then have a checkbox next to Item in the table header that can select all items. This would require an aria-label to ensure that it would make sense to unsighted users.

See https://materia

[2020-07-29 17:25] ruthtillman commented on #102
I also like Options 1 and 3. I think that users probably do expect a "select all" option, so perhaps Option 1? Would the checkbox clearly be for all items for sighted users as well? I'm thinking that sometimes without appropriate textual labeling such boxes aren't entirely clear.

[2020-07-29 17:57] ruthtillman commented on #179
Toasts look good.

[2020-07-29 17:57] #179 closed

[2020-07-29 20:04] cdmo commented on #221
Here's one way we could have the menu work: https://psu.box.com/s/e8n0ft538hcmuh4mqepjyqow6qvdr7kj

[2020-07-29 20:39] cdmo commented on #102
It is always tricky to walk the line between "simplifying the interface" and "providing enough context" for best usability IMO. I'll go with option 1 and try to get some options for how that will look. Thanks

[2020-07-29 21:07] cdmo commented on #221
Also wondering if now is a good time to rework the labeling of this column to be "Position in the holds queue" as the header with a "1st" or "3rd" or "99th" as the value for the rows. Think it'd be easier to read that way and make more sense. ?

![Screen Shot 2020-07-29 at 5 05 36 PM](https://user-images.githubusercontent.com/523381/88853526-dae9c900-d1bd-11ea-973b-5d95d758ad90.png)

[2020-07-30 13:18] cdmo commented on #221
Starting to just compile questions here I guess. Do we want the book titles to be links? I know that was one of the complaints/feedback items.

[2020-07-30 13:30] ruthtillman commented on #221
1) Yes, retitling the column vs. repeating all the text makes sense!
2) yes, book titles as links. I think they were a little on the light side for links? Or maybe it was font weight/size. What's in the screenshot looks good, though, so maybe it's ok?

[2020-07-30 13:47] ruthtillman commented on #221
cutting down on noise ++

[2020-08-04 14:06] #167 closed

[2020-08-04 14:06] #96 closed

[2020-08-04 14:06] #189 closed

[2020-08-04 14:07] #137 closed

[2020-08-04 14:08] #186 closed

[2020-08-04 14:09] #196 closed

[2020-08-04 14:09] #177 closed

[2020-08-04 14:09] #181 closed

[2020-08-05 15:47] banukutlu opened #228 "Bills: Title for 'Miscellaneous charges'"
Add `NOT ASSOCIATED WITH AN ITEM` as Title for `Miscellaneous charges`

eg.

[code]

[2020-08-05 16:00] banukutlu commented on #228
@mkutch Could you please check legacy cat myaccount for the title if it is a customization and if so which rule is used?

[2020-08-06 16:25] #215 closed

[2020-08-06 20:26] #198 closed

[2020-08-06 20:31] #173 closed

[2020-08-07 13:03] mkutch commented on #228
It's not a customization, but out of the box. If there is no title for the bill then the text "NOT ASSOCIATED WITH AN ITEM" is displayed.

[2020-08-07 20:43] mkutch opened #229 "Consider using policy for bill Reason"

[2020-08-10 14:06] cdmo opened #230 "Browser back button leads to stall out"
@mkutch reported late last week: when you click the browsers back button to either the checkouts or holds page it leads to a timeout/stall

[2020-08-11 12:09] cdmo commented on #136
Eric's going to get Splunk setup on QA to start. We're not able to get going with DDog just yet, waiting on finalizing of purchase contract I believe.

[2020-08-11 12:11] cdmo commented on #230
marking this fixed and closing

[2020-08-11 12:11] #230 closed

[2020-08-11 12:29] cdmo commented on #98
I think our lingering questions for this are: should either `symws_app_id` or `x_sirs_clientID` be different for production? @mkutch do you know?

[2020-08-11 20:05] mkutch commented on #98
@banukutlu @cdmo A new clientID has been created and I'm emailing it to you.

[2020-08-12 12:44] #98 closed

[2020-08-12 15:39] ruthtillman commented on #28
Tested from QA and made contact with the person staffing libchat!

[2020-08-12 15:39] #28 closed

[2020-08-12 19:13] cdmo commented on #223
Rescheduled to 9/8 due to Michelle not being available on the 11th

[2020-08-14 12:05] cdmo commented on #222
@banukutlu can you try this out on QA?

[2020-08-14 14:11] ruthtillman opened #235 "Replace Address Change Form"
The Address Change form was built separately from the Sirsi My Account app. It's here https://cat.libraries.psu.edu/uhtbin/psu_change_address_form (though requires passing login credentials). We should replace it with a version which is integrated into My Account.

[2020-08-14 14:37] #235 closed

[2020-08-14 14:45] banukutlu commented on #222
when I made a change to `settings.local.yml` it did not override (unless I missed sth) but `settings/production.local.yml` worked. maybe we should mention which file to use for the override?

[2020-08-14 17:53] cdmo commented on #222
`settings.local.yml` _should_ override. But! `settings.local.yml` will be written (and over-written) by deploy scripts because that's where we're storing connection info and stuff. So, yeah we shouldn't use that anyway. I agree about updating the README to specify which file to add.

[2020-08-14 18:29] banukutlu commented on #222
I guess it was being overridden by `settings/production.local.yml`, will give it a try.

[2020-08-15 11:55] cdmo commented on #222
Oh I see you had both at once. Yes, the order of precedence can be found here: https://github.com/rubyconfig/config#accessing-the-settings-object

[2020-08-24 11:24] #222 closed

[2020-08-25 13:58] ruthtillman commented on #221
Looking good. If we have any further questions/suggestions after testing, that can be handled separately or this can be reopened.

[2020-08-25 13:58] #221 closed

[2020-08-25 14:00] #102 closed

[2020-08-25 14:01] ruthtillman commented on #53
AFAIK seems good.

[2020-08-25 14:01] ruthtillman commented on #228
Looks good.

[2020-08-25 14:01] #228 closed

[2020-08-26 19:39] banukutlu opened #236 "Redirect to the original request url after auth"
after webaccess, it does not redirect to the original request url, only redirects to summaries

[2020-08-26 19:41] banukutlu opened #237 "holds/new form throws an error when record has no holdables items"
try `/holds/new?catkey=19200019`

<img width="1376" alt="Screen Shot 2020-08-25 at 4 21 32 PM" src="https://user-images.githubusercontent.com/6477867/91349040-b67c0f00-e7b2-11ea-8836-7866689d3fcc.png">

[2020-08-26 20:36] banukutlu commented on #237
some notes from debugging this record:

currentLocations on this catkey are CHECKEDOUT, STACKS-BD, STACKS-HB3
STACKS-BD, STACKS-HB3 are not returning back from holdable_locations even though this catkey has IWantIt and availability returns `holdable`

[2020-08-28 17:30] banukutlu commented on #237
Update: these locations were updated as holdable but cache needed to be cleared and server needed to be restarted on the sirsi side, after Maryam doing that, now those two locations shows up holdable.

Also, added a fix for it to not error out in this case.

[2020-08-28 20:22] cdmo commented on #237
I'm going to reopen this because I don't think it passed. Please correct me if I'm wrong.

[2020-08-28 20:24] #53 closed

[2020-08-28 20:28] ruthtillman commented on #237
I QAd this one. I got the item itself to work successfully but when attempting other items which shouldn't be put on hold at all (just as an edge case), it didn't do anything. Should redirect to my acct home I believe.

[2020-08-28 20:44] cdmo commented on #237
Ok cool. Just wasn't sure. Thanks.

[2020-08-31 14:57] banukutlu commented on #237
reopened to add a message `Sorry! You cannot place a hold on this item. Contact your library if you need assistance` for records that are not holdable eg. catkey: `31200756`

[2020-08-31 15:48] cdmo opened #239 "lograge this"

[2020-09-02 14:17] #17 closed

[2020-09-02 14:20] cdmo commented on #25
We talked about this at the check in today, we need to check with Chris. It is possibly deprecated.

[2020-09-02 16:59] daws-bot opened #241 "Test ticket from Code Climate"

[2020-09-02 17:39] #241 closed

[2020-09-02 17:40] banukutlu commented on #220
handled by #240

[2020-09-03 16:57] cdmo commented on #136
Splunk is installed and running on QA and prod. Will add a splunk role to our deploy to make sure symlink is in place per monitored application.

[2020-09-03 19:07] cdmo commented on #136
checking to see if it's possible to store a list of hashes in ansible

[2020-09-08 13:57] ruthtillman opened #246 "Ampersand escape displaying in holds pickup location form"
Currently affecting `Architecture &amp; Landscape Architecture Library`.

[2020-09-08 13:59] cdmo commented on #236
this is in qa

[2020-09-08 14:03] cdmo commented on #246
copy and paste mistake by me, should be fixed in qa and prod now

[2020-09-08 14:24] ruthtillman commented on #2
Ok, revised text which can be used on any kind of page: `Items are loading. Longer lists of items will take a few moments to load.`

[2020-09-08 14:27] ruthtillman commented on #25
Emailed Chris.

[2020-09-08 15:11] ruthtillman commented on #236
QAd! Tested several different kinds of materials, including ones which couldn't be put on hold and everything behaved as expected.

[2020-09-08 15:31] cdmo commented on #239
new logging looks good

[2020-09-08 15:31] #239 closed

[2020-09-08 18:18] ruthtillman commented on #236
Did some more testing this afternoon. It works as expected for first login. However, if one has to re-login, it doesn't pass on the original request. Steps to replicate this issue:

1. On VPN, open un-logged-in browser and place hold, e.g. on https://blackcat01qa.libraries.psu.edu/catalog/25085728. This should work after WebAccess auth.
2. Disconnect VPN. Do something in WebAccess Auth which promp

[2020-09-08 19:53] cdmo commented on #136
splunk is finding logs fine. Datadog APM is not doing it's thing. will close this for now and consider things "setup." Working with Eric on troubleshooting setup

[2020-09-08 19:53] #136 closed

[2020-09-08 20:49] banukutlu commented on #236
I could not recreate this

[2020-09-08 20:50] banukutlu commented on #236
I was not able to recreate this, it redirected to the correct page 🤔

[2020-09-09 13:09] ruthtillman commented on #236
🤔 I will try to see if I can make it happen again this morning...

[2020-09-09 13:50] cdmo commented on #236
I experienced a problem in the redirect this morning. When I had to do the webaccess "reauth" thing (not the full DUO authentication) it redirected to the summaries page instead of the new hold request form.

[2020-09-09 13:55] ruthtillman commented on #236
☝️ this is what I was trying to describe, yeah. It's very hard to replicate because you have to let things go stale enough to force the reauth but not enough to force a new login.

[2020-09-09 14:09] ruthtillman commented on #236
Updating to add that I have also had reauth work as desired. This inconsistency doesn't seem to happen with first-time auth, though. It's always working as expected. Unfortunately I don't know enough to speculate.

[2020-09-09 14:09] cdmo commented on #236
I think one thing that will consistently trigger this is if your own IP changes (like what the VPN changes forced to happen as you described above)

[2020-09-09 15:28] cdmo commented on #223
accessibility test occurred, making issues now

[2020-09-09 15:28] #223 closed

[2020-09-09 15:31] cdmo opened #247 "Accessibility Test Fixes Required"
- [x] remove "--" in pickup locations select
- [x] Run deque axe matchers and fix all the things

[2020-09-09 15:32] cdmo opened #248 "New hold on volumetric should not have checkbox"
See `holds/new?catkey=1220805`

discovered during #223

[2020-09-10 12:04] cdmo commented on #224
Matomo is setup for prod by the way. You should be able to see it at https://analytics.libraries.psu.edu/matomo

[2020-09-10 15:54] cdmo commented on #248
so this is resolved now. not a lot to review but the difference can be seen by going to holds/new?catkey=1220805 in both the catalog and then in QA. No checkbox in QA which is what we want

[2020-09-10 18:13] cdmo commented on #247
In the screen reader testing we have a glaring error of nothing being announced to the screen after renew or hold update. I am fixing that and it’s good. But… there is no definitive announcement like “successfully renewed” and Banu and I were thinking some subtle notification to sighted users might be helpful too. So, we came up with the idea of using a badge under the item to indicate things went

[2020-09-14 18:27] cdmo opened #255 "Success notifications"
- [x] the application doesn't notify user of successful renew or hold edit/cancel
- [x] badge for success indicator
- [x] scroll up on success

from #253

[2020-09-15 13:27] cdmo opened #256 "set env for datadog"
set it conditionally - qa or production

[2020-09-15 13:58] cdmo commented on #236
marking this closed, it is deployed to prod. if it occurs again we'll just open a new issue.

[2020-09-15 13:58] #236 closed

[2020-09-16 16:33] daws-bot opened #259 "Fix "similar-code" issue in app/javascript/submission_handling/change_pickup_library.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/psu-libraries/myaccount/app/javascript/submission_handling/change_pickup_library.js#issue_5f61759a064ebe00010000a9

[2020-09-16 16:34] cdmo commented on #259
I don't take orders from you @daws-bot

[2020-09-16 20:11] cdmo commented on #256
this is fixed

[2020-09-16 20:11] #256 closed

[2020-09-18 14:11] cdmo commented on #246
closing this

[2020-09-18 14:11] #246 closed

[2020-09-18 17:26] cdmo commented on #217
Reducing size of headings on mobile too

[2020-09-21 15:52] banukutlu commented on #25
@ruthtillman any updates on this one?

[2020-09-21 18:26] banukutlu commented on #78
@cdmo What other specs you think we should add here?

[2020-09-21 18:49] cdmo commented on #78
I don't know that's why I'm asking you... ? You did make this issue right? Maybe we didn't have any back then?

[2020-09-21 19:06] cdmo commented on #206
@mkutch is this something we can depend on to be right?

Also, where is this data set?

Here?
![Screen Shot 2020-09-21 at 3 05 51 PM](https://user-images.githubusercontent.com/523381/93809982-f9979980-fc1b-11ea-92b2-89167072b493.png)

[2020-09-21 19:11] ruthtillman commented on #25
@banukutlu just checked through emails I got while I was out -- didn't see anything.

[2020-09-21 19:46] banukutlu commented on #78
I cannot remember what I had in mind when adding this, maybe we did not have those specs before. I am inclined to close this issue unless you can think of any specs to add, I cannot right now :)

[2020-09-21 20:00] #78 closed

[2020-09-21 20:41] mkutch commented on #206
@tdouty Please see Q above?

[2020-09-22 13:08] ruthtillman commented on #2
Looks good!

[2020-09-22 13:08] #2 closed

[2020-09-22 13:10] ruthtillman commented on #255
Tested and looks good. A note on timing -- the scroll up happens immediately and then one may scroll down and see that items are still in the process of renewing. This isn't a criticism, just a timing note. I think it works because one knows something happened when the page scrolls up, the one scrolls down to see status. Items which can be renewed get nice green flare, items which can't get red po

[2020-09-22 13:10] #255 closed

[2020-09-22 13:11] ruthtillman commented on #237
Tested with both online item and item which doesn't exist. Successful!

[2020-09-22 13:11] #237 closed

[2020-09-22 13:13] ruthtillman commented on #248
Looks good!

[2020-09-22 13:13] #248 closed

[2020-09-22 13:13] ruthtillman commented on #247
Badges look good.

[2020-09-22 13:13] #247 closed

[2020-09-22 13:13] ruthtillman commented on #220
Tested placing hold on record which does not exist. Got appropriate redirect/message.

[2020-09-22 13:13] #220 closed

[2020-09-22 14:35] cdmo commented on #25
removing from initial mvp work and sending to backlog for now as per checkin meeting

[2020-09-22 14:36] ruthtillman commented on #114
@mkutch can you share the location of the h-file -- privately is fine.

[2020-09-22 14:40] cdmo commented on #10
will tackle this later, as per check in meeting

[2020-09-22 14:45] ruthtillman opened #265 "Add language re: Illiad/Medianet note appearing in checkouts or renewals"
For checkouts/renewals page, display following message: "Materials borrowed through Illiad or Medianet do not appear on this list and must be renewed separately."

For holds page, display following: "Materials requested through Illiad or Medianet do not appear on this list and must be managed separately."

[2020-09-22 17:22] ruthtillman commented on #224
Ruth note to self: includes Best Bets.

[2020-09-23 13:27] ruthtillman opened #266 "Success Badges Disappear With New Button Click"
Success badges for renewals/hold updates/etc., should disappear when the user clicks a new button. Because we don't reload the whole page, they aren't otherwise disappearing.

Sample task for this would be updating hold pickup locations and then hold request by dates.

[2020-09-25 15:40] cdmo commented on #229
there isn't much to review, backend change. closing

[2020-09-25 15:40] #229 closed

[2020-09-29 13:42] ruthtillman commented on #266
Yes/and -- I have a couple screenshots to review during our meeting.

[2020-09-29 13:42] ruthtillman commented on #206
💯

[2020-09-29 13:42] #206 closed

[2020-09-29 14:07] #266 closed

[2020-09-29 14:08] cdmo commented on #217
will test in production as well, looked ok in QA

[2020-09-29 15:12] ruthtillman opened #272 "Adding default pickup location means it's always updated in hold updates"
We added a default pickup location selection (based on the user's data) to our hold placement form in order to ease the process.

This default also appears on the updates form in Holds.

When updating date requested by, the selected location will also update. This will result in messages saying that the location has updated, even if the user did not intend it to. Since users could change the selec

[2020-09-29 15:28] cdmo commented on #272
No problem 👍

[2020-10-01 13:39] ruthtillman opened #273 "Update request by date to 14 days vs. 60"
Per second bullet point: https://staff.libraries.psu.edu/posts/no-recalls-2020-and-beyond

[2020-10-01 15:30] ruthtillman commented on #217
Did some testing on my phone in production. Worked! Renewed book.

[2020-10-06 13:59] ruthtillman commented on #224
holds success message: "For placed hold(s), you will receive a library notice once items are available for pick up. On-shelf items generally arrive within 2-3 weekdays. Items checked out to other borrowers will be recalled. Recalled items take a minimum of 10 days to arrive at your pick up location."

[2020-10-06 14:02] ruthtillman commented on #224
@ruthtillman will get in touch with Chris H re: holds success message "For placed hold(s), you will receive a library notice once items are available for pick up. On-shelf items generally arrive within 2-3 weekdays. Items checked out to other borrowers will be recalled. Recalled items take a minimum of 10 days to arrive at your pick up location." because not doing recalls

[2020-10-06 14:09] ruthtillman opened #274 "Support users whose default location does not allow pickups during closure period"
Because some libraries aren't doing pickup, it's possible a user's default location will not be allowing pickups.

If their default location is not matched in the list _when placing holds_, then make it blank to force selection.

[2020-10-06 14:12] ruthtillman opened #275 "Renewals: Display summary of items renewed"
When performing renewals, how can we display a summary at the end?

What's been requested, what's the status, present nice little tally.

This is not a release blocker.

EDIT by @cdmo 10/27

After talking through at check-in, we're going to be displaying a gray bar with a message like "your blah is processing..." at the top (which has been scrolled-up to). After all requests are processed we will

[2020-10-06 14:24] ruthtillman opened #276 "Update holds success message"
Ruth contact Chris

[2020-10-06 14:25] ruthtillman opened #277 "Update address form"
Link to the update address form

[2020-10-06 14:27] ruthtillman commented on #276
Also update font/color!

[2020-10-06 14:30] ruthtillman opened #278 "Ensure admin settings are correct"
@mkutch ensure that admin settings on test and prod are the same to not break something in My Account.

Test/proof by pointing blackcat01qa to myaccount proper and be sure that holds place/fail etc (be sure to cancel too)

[2020-10-06 15:20] ruthtillman commented on #276
Chris approves success message: "For placed hold(s), you will receive a library notice once items are available for pick up. Items generally arrive within 2-3 weekdays." cc @mkutch

[2020-10-07 14:47] cdmo commented on #10
@mkutch "Foreign Address" is not a state.

![Screen Shot 2020-10-07 at 10 43 45 AM](https://user-images.githubusercontent.com/523381/95346635-1245b780-088a-11eb-92ff-91d2745f7710.png)

So questions for you:

* do we have users with "foreign addresses"?
* how do we handle these? the current form does not appear to handle "foreign addresses" - or does it? Maybe we could consider an option to toggle

[2020-10-07 16:26] mkutch commented on #278
I set  fillByDate to Editable in prod

[2020-10-08 14:07] banukutlu opened #279 "rhel7 symphony server web services testing"

[2020-10-08 15:36] banukutlu commented on #277
Is this duplicate of #10 maybe? @cdmo @ruthtillman

[2020-10-08 15:45] ruthtillman commented on #277
Yep, closing.

[2020-10-08 15:45] #277 closed

[2020-10-08 16:04] banukutlu commented on #276
Is this to replace ```For placed hold(s), you will receive a library notice once items are available for pick up. On-shelf items generally arrive within 2-3 weekdays. Items checked out to other borrowers will be recalled. Recalled items take a minimum of 10 days to arrive at your pickup location.```?

[2020-10-08 16:04] ruthtillman commented on #276
yes.

[2020-10-08 16:13] banukutlu commented on #276
@ruthtillman can we separate pickup locations to match pandemic to another issue?

[2020-10-08 16:15] ruthtillman opened #281 "Update pickup libraries list & names to match pandemic"
The libraries which can be pickup locations are in a state of flux because of the pandemic. We need to make sure our list matches prod. Also labels may temporarily include additional directions such as "pick up at the circle" so we'll need to update those too.

[2020-10-08 16:56] cdmo commented on #281
I think I'm reading this wrong. "We need to make sure our list matches prod." - like "make sure catalog qa matches catalog prod?" Just want to make sure. Thanks

[2020-10-08 16:57] ruthtillman commented on #281
@cdmo Symphony list has been updated.

[2020-10-08 17:02] cdmo commented on #281
Can we ask whoever (Chris?) is having these changes happen start to email us too?

[2020-10-08 17:18] ruthtillman commented on #281
I think so ... @mkutch is there a list where these are announced?

[2020-10-08 17:40] mkutch commented on #281
Chris was emailing me , @banukutlu ,@cdmo  during the pandemic re campus pickup libraries

[2020-10-08 19:22] cdmo commented on #281
👍 k he can continue to do that, cool. If he neglects one of us we'll send on

[2020-10-08 19:23] cdmo commented on #281
worth mentioning once more: wish we had a unified set of labels for pickup locations. Right now we have two sets. What we use in the dropdown and what we display in the table aren't always the same.

[2020-10-08 20:55] cdmo commented on #281
oh and qa and prod myaccount have the latest now (for the dropdown)

[2020-10-12 18:54] #281 closed

[2020-10-13 00:52] cdmo commented on #10
@ruthtillman

Thinking about address updating link placement:

in the utility nav area like: [Screenshot_2020-10-12 My Account Pennsylvania State University Libraries](https://user-images.githubusercontent.com/523381/95802783-66a6c800-0ccc-11eb-8697-9e0123f88785.png)

in the main menu like: [Screenshot_2020-10-12 My Account Pennsylvania State University Libraries(1)](https://user-images.githubuser

[2020-10-13 01:14] ruthtillman commented on #10
🤔 the link might be a little subtle in that it could also imply to people that it was some kind of link to your summary page, etc. But I think maybe adding a link next to your name? as either:

- [address-card-o] with tooltip "Update address"
- or linked text: `(update address)`

so like:

Library account record for **Ruth Tillman** (update address)

thoughts?

(I'm technically logged in to work o

[2020-10-13 01:21] cdmo commented on #24
@banukutlu please tell me we just forgot to close this before right? RIGHT? 😆

[2020-10-13 12:23] cdmo commented on #10
Yeah a tooltip would be good especially if we don't use a lot of text for the link. Main menu item or secondary/utility item you tnihk?

[2020-10-13 13:13] banukutlu commented on #24
I think there was still some things we wanted to clear out but I honestly think it is fine, guess we both do not wanna change/refactor right now :) So yeah let's have this close :)

[2020-10-13 14:58] ruthtillman commented on #273
Looks good.

[2020-10-13 14:58] #273 closed

[2020-10-13 14:58] ruthtillman commented on #276
👍

[2020-10-13 14:58] #276 closed

[2020-10-13 14:59] ruthtillman commented on #272
Tested updating location and date -- separately and simultaneously. All behaved as expected. 👍

[2020-10-13 14:59] #272 closed

[2020-10-13 20:39] cdmo commented on #10
So I think it'll have to be, for space's sake, just "Update Address" - or something with a similarly small character count otherwise it'll look a little funky in the main menu I think

[2020-10-14 13:58] cdmo commented on #278
this can be closed now right?

[2020-10-14 14:00] ruthtillman commented on #278
Yep

[2020-10-14 14:00] #278 closed

[2020-10-14 15:42] #224 closed

[2020-10-14 18:14] cdmo commented on #10
@ruthtillman

Should we keep the field "campus" as is? Or change it to "pickup location" and use the same translation dictionary as we use in the rest of myaccount?

![Screen Shot 2020-10-14 at 2 13 53 PM](https://user-images.githubusercontent.com/523381/96028671-9ae2cb80-0e27-11eb-8a3d-4266c421acb2.png)

[2020-10-14 18:42] ruthtillman commented on #10
I think let's keep to Campus for now. Esp since Pickup Location dictionary is based on other labels because of the pandemic.

[2020-10-15 18:59] banukutlu opened #286 "Back to Catalog link catkey issue"
Back to Catalog link should be linked to catkey

[2020-10-16 19:25] banukutlu opened #288 "holds/result check for referer"

[2020-10-18 00:50] cdmo commented on #288
Think we should close 0.3x and mark the last deploy as 1.0, right?

[2020-10-20 12:58] banukutlu opened #289 "Add a message about quarantined materials"
Add the following line somewhere on the Checkouts or Summary page:

"Returned materials may be quarantined for four days and will remain on your account during the quarantine period."

Maybe bold, italicized or red font to draw attention.

[2020-10-20 15:20] cdmo commented on #279
What does a "down for system maintenance" response from My Account look like

[2020-10-20 15:23] ruthtillman commented on #279
@cdmo what's language we use for availabiltiy on the catalog?

[2020-10-20 15:58] banukutlu commented on #279
We had sth like the below for availability:

```Required system maintenance is currently being performed. Availability and I Want It functions should be restored by midnight November 3rd. <a href="https://libraries.psu.edu/alerts">See library alerts</a> for updates and details.```

[2020-10-20 16:07] ruthtillman commented on #279
Hm, then maybe something like:

`Required system maintenance is currently being performed. Availability and I Want It functions should be restored by [date/time]. <a href="https://libraries.psu.edu/alerts">See library alerts</a> for updates and details.` for the catalog part and

something like:
`Due to required system maintenance, My Library Account will be in read-only mode until [date/time]. Re

[2020-10-20 16:26] cdmo opened #291 "Maintenance mode"
add a config that can be flipped on/off:

1. no renewal button on checkouts, no update/cancel buttons on holds
1. for holds/new and update address we can redirect to summary page
1. prominently display message about why it's in read only

[2020-10-20 18:24] cdmo commented on #289
Chris okayed this via email

[2020-10-20 18:24] #289 closed

[2020-10-20 18:27] #286 closed

[2020-10-21 01:16] cdmo opened #293 "Canceled badge"
@mkutch brought up an important issue on mobile with canceling a hold, there is no noticeable change after successfully canceling a hold. This is because the cancel notice is on the right end of the table which is off-screen on mobile. This brought up the fact that we are not showing the notification badge for cancelled items.

[2020-10-21 12:28] cdmo opened #294 "Requests with a format suffix are getting 500"
[Datadog report](https://app.datadoghq.com/apm/traces?end=1603256400000&index=&paused=true&query=env%3Aproduction%20service%3Amyaccount%20status%3Aerror%20operation_name%3Arack.request%20%40http.status_code%3A500&spanID=8658952950996220225&start=1603255800000&streamTraces=true&trace=AQAAAXVJg8w0qwJrrgAAAABBWFZKZzl1Q0swTU1oUk1ZVDA4Rw&traceID=433291087852371005)

Should probably receive a `404`

[2020-10-21 12:35] cdmo commented on #288
I'm sorry, but what is the problem that this issue is discussing? I think the title of the issue is the solution, but what was the problem? I apologize because I think this is something that you and Maryam spoke about but I didn't catch it.

[2020-10-21 13:02] cdmo commented on #279
My question above wasn't so much about language but rather, what does "down" look like in terms of how the application works. The answer we got yesterday during our touch base with the Symphony team answered that: read only but not "down for maintenance." I'm going close this issue as we have done "rhel7 symphony server web services testing" - please reopen if you feel like we need more testing of

[2020-10-21 13:02] #279 closed

[2020-10-21 14:19] cdmo commented on #291
Thinking something like this for the prominent message

![Screen Shot 2020-10-21 at 10 19 18 AM](https://user-images.githubusercontent.com/523381/96732979-f1e82380-1386-11eb-8e0a-a9c43edd8e32.png)

[2020-10-21 15:18] mkutch opened #295 "Renewing items with session and active login that is expired"
I had a myaccount open from the previous day. I clicked on Renew items and it's just spinning.  I was able to recreate it in Chrome when I login in to my account and then cleared browsing data.  Same thing happens with any Hold activities too. Perhaps there should be some kind of redirect back to the catalog after certain amount of time, or check if the patron session has timed out and it redirect

[2020-10-21 15:26] cdmo commented on #295
That is supposed to be happening. Thanks for reporting.

[2020-10-21 16:32] cdmo commented on #279
I noticed you used "My Library Account" in the message. Are we changing the application name now? Otherwise it seems kinda strange seeing as how it's branded heavily with "MyAccount." The subdomain is even `myaccount`. Are we going to rename?

[2020-10-21 16:35] banukutlu commented on #288
I found about this while checking the issue Maryam brought up, it is again sth that we do not expect as a normal user behavior but if you directly go to /holds/result the page just keeps spinning, this is to check if it is a redirect from from holds/new

[2020-10-21 16:58] ruthtillman commented on #279
I don't think so, just trying to make sure people understand it during the transition.

[2020-10-21 16:59] cdmo commented on #288
So... we are fixing the problem of a weird experience for someone who types in `myaccount.libraries.psu.edu/holds/result` - is that right?

[2020-10-21 17:49] banukutlu commented on #288
Yes, a new hold is not placed unwantedly or anything like that, just the page displays this msg `Attempting to place holds, please wait...`, it is just misleading.

[2020-10-21 18:19] cdmo commented on #295
@mkutch you made this issue at 11:18 am this morning, can you tell me roughly when you attempted to renew and it just spun?

[2020-10-22 18:09] cdmo commented on #288
Ok yup, I did get it. Before I just didn't wait long enough. Sorry!

[2020-10-22 18:29] ruthtillman commented on #10
Tested and works as expected! Only change would be changing zip label to "ZIP Code" to support people who may not recognize "ZIP" on its own.

[2020-10-22 18:29] #10 closed

[2020-10-23 14:08] ruthtillman opened #300 "Research impacts of home library updates"
We have temporarily frozen the home library update function. However, while undergraduates and maybe graduate students shouldn't be able to edit this, faculty, staff, and commonwealth patrons do not update automatically and should be able to change their own data. Can we confirm if there are any unknown dependencies on where the system uses this?

[2020-10-26 15:49] cdmo commented on #275
@ruthtillman Will there be a summary notification for holds batch operations too?

[2020-10-26 16:30] ruthtillman commented on #275
@cdmo once we get the other sorted out, yes I think that would be a good enhancement.

[2020-10-26 18:18] mkutch commented on #300
Chris H. is looking into this.

[2020-10-26 19:31] cdmo commented on #295
@mkutch can you test this out on QA? Maybe leave your browser open over night there and see what happens tomorrow morning? Also, though it's not the exact same scenario, delete the website's cookie in-session to test too?

[2020-10-26 20:35] cdmo opened #302 "Label and value overlap (smush) on small screen for patron info"
Thanks @mkutch for reporting!

[2020-10-26 20:42] cdmo opened #303 "Email should not be marked required on patron info form"
hat tip to @mkutch again!

[2020-10-27 02:55] banukutlu commented on #274
@mkutch could we find a test account with a default library that is not doing pickup right now?

[2020-10-27 14:46] cdmo opened #304 "Editing a blank address"
state should be defaulting to a "Pick your state" option kind of thing

[2020-10-27 14:56] ruthtillman commented on #291
Tested and successful! Will need to set the date/time when we have estimate.

[2020-10-27 14:58] #291 closed

[2020-10-27 15:03] ruthtillman commented on #293
Looks good!

[2020-10-27 15:03] #293 closed

[2020-10-27 16:26] cdmo commented on #275
I updated the description of the issue, please edit away if it's off

[2020-10-27 19:44] cdmo opened #305 "Null value for fillByDate"
causes [error condition](https://app.datadoghq.com/apm/trace/1081194191846904969?spanID=197834420210174171&env=production&sort=time&colorBy=service&graphType=flamegraph&shouldShowLegend=true)

[2020-10-28 00:54] cdmo opened #307 "Remove sidekiq trial"

[2020-10-28 04:17] banukutlu opened #312 "spinner when browser back button to holds/result"

[2020-10-28 12:09] cdmo commented on #304
@mkutch this is fixed in production, can you take a look and let me know if it is resolved?

[2020-10-28 12:09] cdmo commented on #295
this is in prod now, will close as we discussed in check-in

[2020-10-28 12:09] #295 closed

[2020-10-28 12:10] cdmo commented on #302
@mkutch this is fixed in production, can you take a look and let me know if it is resolved?

[2020-10-28 12:10] cdmo commented on #303
@mkutch this is fixed in production, can you take a look and let me know if it is resolved?

[2020-10-28 12:10] #305 closed

[2020-10-28 15:52] mkutch commented on #303
Looks resolved .

[2020-10-28 15:59] mkutch commented on #302
no longer smushed :) , resolved.

[2020-10-28 16:12] #303 closed

[2020-10-28 16:12] cdmo commented on #302
de-smushed 👌

[2020-10-28 16:12] #302 closed

[2020-10-28 17:46] mkutch commented on #304
looks good 👍

![image](https://user-images.githubusercontent.com/43478453/97475643-e1562100-1923-11eb-9638-7ae03d20cc17.png)

[2020-10-28 17:47] cdmo commented on #304
great! thanks  Maryam!

[2020-10-28 17:47] #304 closed

[2020-11-02 14:16] ruthtillman commented on #265
Text is good -- can we link both "Illiad" and "Medianet" in a way that takes the user through auth to those sites? ... related, I don't know as much about Medianet and if it's still in place and how it works. If y'all don't either, lets check with Binky.

[2020-11-02 14:17] ruthtillman commented on #288
Looks good!

[2020-11-02 14:17] #288 closed

[2020-11-02 17:57] ruthtillman commented on #274
Successfully tested with my default library, UP, removed from QA list! Looks good to go.

[2020-11-02 17:57] #274 closed

[2020-11-02 23:26] ruthtillman commented on #265
@banukutlu After looking at the Medianet link, checked its name w/Binky. She says replace "Medianet" with "MTSS".

[2020-11-05 14:16] ruthtillman commented on #265
It looks good except it's only appearing on Holds page vs. Checkouts/Renewals

[2020-11-05 15:01] banukutlu commented on #265
fix added

[2020-11-05 15:01] ruthtillman commented on #265
QA completed, looks good.

[2020-11-05 15:01] #265 closed

[2020-11-05 15:38] #312 closed

[2020-11-13 16:42] cdmo opened #321 "Multiple email addresses (for special SMS setups)"
These cannot be entered or updated as of right now.

[2020-11-16 15:07] banukutlu opened #325 "View holds sidekiq removal"

[2020-11-16 23:44] #307 closed

[2020-11-16 23:44] #321 closed

[2020-11-17 00:15] cdmo opened #328 "Explore replacing polling/sidekiq for new holds requests"

[2020-11-18 19:27] #325 closed

[2020-11-18 22:33] cdmo commented on #294
works great

[2020-11-18 22:33] #294 closed

[2020-11-19 14:57] #24 closed

[2020-12-03 18:21] cdmo commented on #328
still waiting QA/stage server connection ability. Can't review until it has a server to ping

[2020-12-03 20:58] cdmo opened #331 "Announcement bar functionality like is in the catalog"
like

![Screen Shot 2020-12-03 at 3 58 19 PM](https://user-images.githubusercontent.com/523381/101087588-687c6180-3580-11eb-8599-ed42dd557698.png)

[2020-12-08 20:22] banukutlu commented on #328
QA'ed and deployed ✔️

[2020-12-08 20:22] #328 closed

[2020-12-09 17:52] banukutlu opened #333 "end-to-end testing using live test data"
- list of actions to be checked off before a release
- with feature specs or manual user testing
- https://github.com/vcr/vcr

[2020-12-10 14:06] cdmo opened #334 "401 Unauthorized occuring when token expires"
[This type of error](https://app.datadoghq.com/apm/trace/4437928283688971723?spanID=822253331872102089&env=production&sort=time&colorBy=service&graphType=flamegraph&shouldShowLegend=true) the application probably going through its typical session renewal mechanism, which is expected behavior and probably can be caught instead of thrown.

I think this is an "inevitable exception" and that we should

[2020-12-10 14:13] cdmo opened #335 "500 when "record is in use" is returned by SymphonyClient"
[This kind of error](https://app.datadoghq.com/apm/trace/3780943963685493527?spanID=1171035985006238457&env=production&sort=time&colorBy=service&graphType=flamegraph&shouldShowLegend=true) is already being tested for and retried by our own code, we just need to catch it too as it is expected behavior from the web service. Relevant code is https://github.com/psu-libraries/myaccount/blob/master/app/

[2020-12-10 14:24] cdmo opened #336 "Unknown method in batch delete operation"
[`nil` doesn't know that method](https://app.datadoghq.com/apm/trace/3783217875663766069?spanID=3451875372237139261&env=production&sort=time&colorBy=service&graphType=flamegraph&shouldShowLegend=true) kind of error going on at https://github.com/psu-libraries/myaccount/blob/master/app/controllers/holds_controller.rb#L86

Probably when delete button is submitted without any checkboxes clicked

[2020-12-11 14:52] cdmo commented on #334
@mkutch could you tell me how long a token is good for?

[2020-12-11 15:17] mkutch commented on #334
In the knowledge base it says

QUESTION:
When a user logs in to web services with the loginUser or patron/login call they get a session token.  How long is that session token valid?

ANSWER:
The session token will stay valid for twelve hours as long as it is still being used to make requests.  It will time out after two hours when it is idle.

are you experiencing something different? I've also pu

[2020-12-11 15:21] cdmo commented on #334
Thanks! Great info. No need to change in my opinion, but nice to know. I'm just attempting to clean up some logs.

I haven't experienced anything different no.

[2020-12-16 17:49] banukutlu opened #339 "Add error code 238 to sirsi response translations"
This error code returned when couple users tried to renew Hathi ETAS items which were auto-renewed. We got servicenow tickets (INC1592348, INC1592358) because the users got the generic error message. Adding a custom message would be more clear for user.

```{"messageList"=>[{"code"=>"hatErrorResponse.238", "message"=>"User cannot check out this item"}], "describeUri"=>"/exception/advicePrompt", "p

[2020-12-16 17:52] cdmo commented on #339
Thanks for adding this. I wonder if this 238 error also shows up for non-ETAS things.

[2020-12-16 17:56] banukutlu commented on #339
yeah, I assume it would show up but do not know yet in which cases. @mkutch is this sth we can find out?

[2020-12-16 20:48] cdmo commented on #339
Just not sure what the translation would or should be, what are you going to make it?

[2020-12-16 21:15] banukutlu commented on #339
Not sure yet, after finding out in which cases this code is returned we might be able to come up with sth. and will get @ruthtillman input on the msg text as well.

[2020-12-16 21:32] cdmo commented on #339
Ok, cool. Saw you self assigned so was wondering if you were jumping on it or not. Think it's safe to get to in January 👍

[2020-12-16 21:40] banukutlu commented on #339
yeah, not starting on it yet, will wait ;)

[2021-01-11 15:51] cdmo opened #340 "error "code"=>"beingFilled""
`Jan 11 10:00:36 L5bcapp02prod.vmhost.psu.edu sidekiq: 2021-01-11T15:00:36.698Z pid=27402 tid=otafegwq6 class=ChangePickupByDateJob jid=08156441fa320b3ee114f4a0 ERROR: pickup_by_date_3972070: {"messageList"=>[{"code"=>"beingFilled", "message"=>"The fillByDate for this request cannot be edited at this time because it is already in the process of being filled."}]}`

[2021-01-11 19:29] cdmo commented on #340
asked maryam about this earlier today, will see if she has any feedback. know she is busy with meetings

[2021-01-20 21:17] cdmo opened #343 "Erroneous session expired notice"
thanks @mkutch for reporting

when you don't select any items and then try and submit the change you get a bad session notice

[2021-01-22 14:43] cdmo commented on #331
this is in prod now, but @banukutlu  you want to review it?

[2021-01-22 17:19] banukutlu commented on #331
yup, will do, thanks!

[2021-01-22 18:05] banukutlu commented on #331
closing this, reviewed on qa and it worked 👍

[2021-01-22 18:05] #331 closed

[2021-01-22 18:49] cdmo commented on #333
wanted to make mention of weblabs to test windows and various browsers

[2021-01-22 21:28] banukutlu opened #346 "holds pickup date update issue on Safari"
<img width="1314" alt="Screen Shot 2021-01-22 at 3 01 05 PM" src="https://user-images.githubusercontent.com/6477867/105548993-5ee4bf80-5cce-11eb-96eb-0f3013961e6b.png">

<img width="1299" alt="Screen Shot 2021-01-22 at 3 07 28 PM" src="https://user-images.githubusercontent.com/6477867/105548911-4379b480-5cce-11eb-9fd3-55fb704b4f1e.png">

[2021-01-25 16:06] ruthtillman commented on #346
Tested fixes in Safari and Edge, both behaved as expected. Used Safari 13, so I saw the date placeholder as well.

[2021-01-25 16:27] banukutlu opened #348 "Consider using a datepicker widget for pickup date"
Safari doesn’t implement a data picker widget for versions older than 15

[2021-01-25 17:03] #346 closed

[2021-01-25 20:24] banukutlu commented on #339
@ruthtillman any thoughts on what should the custom error msg for this error be? Currently, it does not seem much helpful? @mkutch in which cases do we get `hatErrorResponse.238` other than renewal attempt on HathiETAS items?

[2021-01-25 20:42] ruthtillman commented on #339
Talked to Chris, we settled on "This item cannot be automatically renewed. Please contact ul-lending@lists.psu.edu for assistance in renewing the item."

[2021-01-26 21:26] #335 closed

[2021-01-26 21:27] banukutlu opened #350 "Better way of monkey patching datadog"
https://www.justinweiss.com/articles/3-ways-to-monkey-patch-without-making-a-mess/

[2021-01-29 15:57] banukutlu commented on #336
this seems to be solved with #347

[2021-01-29 15:57] #336 closed

[2021-01-29 16:22] banukutlu commented on #343
this also seems to be resolved with #346

[2021-01-29 16:22] #343 closed

[2021-01-29 16:57] banukutlu commented on #300
@mkutch are there any updates on this?

[2021-01-29 17:21] banukutlu commented on #340
Sirsi's response :

[2021-02-01 21:34] banukutlu commented on #333
https://relishapp.com/rspec/rspec-rails/v/4-0/docs/system-specs/system-spec

[2021-02-09 13:14] mkutch opened #352 ""I want it" not working from Summon"
Searched for a book in Summon then clicked "I want it" link in Summon. Took me to the Myaccount page with this message "Sorry! You cannot place a hold on this item. Contact your library if you need assistance." I can place a hold on the book from the Catalog or CAT.

[2021-02-09 13:20] cdmo commented on #352
I think I see what's happening

I just went to https://psu.summon.serialssolutions.com/advanced#!/search/document?ho=t&l=en&q=(TitleCombined:(walk%20in%20the%20woods))&id=FETCHMERGED-psu_catalog_a179440442 and clicked the "I Want It" link in the right sidebar and experienced this issue. Looking at the url provided by the I Want It link, there seems to be a typo:

`https://myaccount.libraries.psu.e

[2021-02-09 13:45] ruthtillman commented on #352
Thanks for the diagnosis, @cdmo -- the problem here is that Summon thinks the catkeys begin with letters, e.g. "a" etc. So we need to find a way to have Summon strip those off or strip off the letter "a" on arriving catkey values. I will investigate Summon's side of things and talk to Maryam.

[2021-02-09 16:08] ruthtillman commented on #352
Opened case with Summon: 00924829

[2021-02-22 20:52] banukutlu commented on #339
tested on QA ✔️
<img width="366" alt="Screen Shot 2021-02-22 at 3 51 07 PM" src="https://user-images.githubusercontent.com/6477867/108768722-02233180-7526-11eb-9a1a-98852aa706d7.png">

[2021-02-22 21:01] ruthtillman commented on #339
Looks great!

[2021-02-23 14:12] #334 closed

[2021-02-23 14:14] cdmo commented on #339
deployed

[2021-02-23 14:14] #339 closed

[2021-02-23 16:36] banukutlu opened #354 "Exclude more sirsi responses from datadog v2"
- Error 500: [{"code"=>"hatErrorResponse.722", "message"=>"User already has a hold on this material"}]
- Error 500: [{"code"=>"hatErrorResponse.17286", "message"=>"Hold not allowed"}]
- {"messageList":[{"code":"hatErrorResponse.753","message":"User already has this title charged out"}]}

[2021-02-24 14:11] banukutlu opened #355 "MyAccount "offline mode" for when Symphony Oracle DB access blocked during maintenance"

[2021-02-24 14:34] cdmo commented on #355
could be useful for times when other SPOFs go down too, like webaccess (or Azure in the future) or the symphony web service. Just a nice thing for users when we can't have the application up at all

[2021-02-24 21:19] banukutlu commented on #354
reviewed on QA ✔️  ready for prod

[2021-02-24 21:26] #354 closed

[2021-02-25 14:34] banukutlu commented on #352
@ruthtillman Just checking to see if there are any updated from Summon on this?

Also we are gonna sniff the leading `a` and remove it for placing holds.

[2021-02-25 14:36] ruthtillman commented on #352
No action from Summon yet. I updated the ticket once. Thank you!

[2021-02-25 16:22] banukutlu opened #358 "review more sirsi responses to exclude from datadog"
- [x] `Error 500: [{"code"=>"hatErrorResponse.17", "message"=>"User BARRED"}]`
- [x] [`Error 404: [{"code"=>"recordNotFound", "message"=>"Could not find a(n) /circulation/holdRecord record with the key null."}`](https://app.datadoghq.com/apm/trace/694420994088028051?spanID=1006731138935316895&env=production&sort=time&colorBy=service&spanViewType=metadata&graphType=flamegraph&shouldShowLegend=true)

[2021-03-02 16:52] #352 closed

[2021-03-30 20:01] ruthtillman commented on #275
@banukutlu I think we are ok not doing that for now.

[2021-04-01 13:48] ruthtillman opened #367 "My Account - uncheck boxes when function is complete"
When renewal or hold updates are complete, uncheck boxes.

[2021-04-07 17:58] #275 closed

[2021-05-13 17:03] banukutlu opened #375 "Add an error page for when symphony client returns no user"
https://github.com/psu-libraries/myaccount/pull/362#discussion_r631959466

Some of the work done with #477 is relevant to this issue.

[2021-05-19 14:59] banukutlu commented on #200
handled by #362

[2021-05-19 15:18] #200 closed

[2021-05-27 13:09] ruthtillman opened #379 "My Account "Bad Request" issue"
Reported by a librarian. They tried in both Firefox and Chrome. I them advised to also be sure they're updated via BigFix while we look into it (and noted ServiceNow would be the fastest way to be sure it comes in, since I might be on vacation). Is this possibly related to the newest deploy?

    Bad Request
    Your browser sent a request that this server could not understand.
    Size of a reque

[2021-05-27 13:13] ruthtillman commented on #379
Update: follow-up email says that both Firefox and Chrome were already newest versions available in BigFix, so it's not an old browser issue!

[2021-05-27 13:58] whereismyjetpack commented on #379
@ruthtillman I've adjusted the `LimitRequestFieldSize` value in the myaccount virtual host to mitigate this issue. I believe it to be resolved _for now_

[2021-05-28 13:28] #379 closed

[2021-06-03 17:37] whereismyjetpack opened #381 "Add Healthcheck Endpoint."
In ScholarSphere we have an `/health` endpoint in the application that does things like check the app health, sidekiq queue latency, database schema, etc.

We also use this endpoint to expose things like the app version, which is helpful to know when a rollout has completed.

https://scholarsphere.psu.edu/health/all

https://scholarsphere.psu.edu/health/version.json

@banukutlu would you mind if i

[2021-06-03 17:53] banukutlu commented on #381
@whereismyjetpack yes! this sounds great 😃 👍

[2021-06-09 17:01] banukutlu opened #386 "`acknowledgeRenewalFeeCircPrompt` can be caught and treated like a regular “can’t renew, contact library” error."
`acknowledgeRenewalFeeCircPrompt` errors can be just caught and treated like a regular “can’t renew, contact library” error.
  - `Error 500: [{"code"=>"acknowledgeRenewalFeeCircPrompt", "message"=>"Renewal fee of 100.00 USD acknowledgment required."}`
     - `/symwsbc/circulation/circRecord/renew`
  - [`Error 500: [{"code"=>"acknowledgeRenewalFeeCircPrompt", "message"=>"Renewal fee of 22.00 USD ac

[2021-06-15 13:46] banukutlu opened #388 "More Sirsi codes to exclude from Datadog"
[`Error 401: [{"code"=>"unableToLogin", "message"=>"Unable to log in."}]`](https://app.datadoghq.com/apm/trace/3037577098696853612?spanID=3866014215659514871&env=production&sort=time&colorBy=service&spanViewType=errors&graphType=flamegraph&shouldShowLegend=true)

[`Error 401: [{"code"=>"unableToLogin", "message"=>"Unable to log in."}]`](https://app.datadoghq.com/apm/trace/2664671281841403103?color

[2021-06-17 14:24] #358 closed

[2021-06-28 18:14] banukutlu opened #395 "June 28 post alert for June 29 - 6am outage"
Post alert on morning of June 28, since we'll need to have the ProQuest outage banner on the site through Saturday the 26th:

[code]

[2021-06-28 18:16] nicktiberi opened #396 "Use high-res images for header and footer logos"
Similar to the change for the catalog, let's use high-res images for My Account as well.

[2021-06-28 18:22] #395 closed

[2021-07-09 16:02] ruthtillman opened #398 "Remove language about quarantine"
We ended quarantine -- remove language in My Account.

[2021-07-09 18:15] binkylush commented on #398
Service Now Ticket - INC1733487

[2021-07-13 14:55] #398 closed

[2021-07-27 13:49] #396 closed

[2021-07-29 19:01] whereismyjetpack opened #404 "Catkey 2972255 is failing"
When trying to place a hold for catkey the following line is throwing an error

https://github.com/psu-libraries/myaccount/blob/main/app/services/place_hold_form/builder.rb#L102

`call.record['naturalized_volumetric'] = naturalize(call.volumetric.to_s)` is producing the following

[code]

then when calling `.sort_by! it's failing because naturalized_volumetric is an array with

[code]

it works wi

[2021-08-11 16:38] ruthtillman opened #408 "Scheduled maintenance alert and maintenance mode August 19, 6:15-7am"
```Scheduled maintenance: My Account will be unavailable on August 19, 2021 from approximately 6:15-7am EDT.```

[2021-08-16 18:32] #367 closed

[2021-08-17 13:47] #408 closed

[2021-08-17 14:00] banukutlu opened #414 "maintenance_mode for 6:15am-7am August 19th"

[2021-08-17 15:46] nicktiberi commented on #404
@mkutch (+ @ruthtillman) - Banu and I just looked at this, and it seems that for some of the holdings, we are not getting the year back in volumetric field in the response from Symphony.

[code]

Attached example response file:
[2972255.txt](https://github.com/psu-libraries/myaccount/files/7001325/2972255.txt)

Is this expected? Or should we be getting the year back for all records? Thanks!

The i

[2021-08-19 11:05] #414 closed

[2021-08-19 23:22] mkutch commented on #404
@nicktiberi It seems there are other records with this issue... see  catkeys `442922, 468031` and try to do an I want it and you get blank screen.

[2021-08-20 13:47] ruthtillman commented on #404
Per checking the record, they should all have a "2005" of some kind in them (so probably 2005.0?)

[2021-08-20 19:49] banukutlu opened #423 "Fix failing holds spec"
`rspec ./spec/features/holds_spec.rb:41 #`

https://app.circleci.com/pipelines/github/psu-libraries/myaccount/749/workflows/a838ef0f-0cd7-4eac-afe7-0410cb1eccf2/jobs/904

[2021-08-23 12:42] nicktiberi commented on #404
@ruthtillman @mkutch - do we think this is a data/cataloging issue (missing year in the source data)? Or is this maybe a bug on the Symphony side?

There are a few things we could do on the My Account side to stop the crashing, but I'm wondering if this should be handled by updating the data and/or changing something in Symphony.

[2021-08-23 13:04] ruthtillman commented on #404
Since it's coming out wrong compared to what should be in there, @mkutch  can you see if there's anything unusual in the symphony side that is leading to it not exporting correctly? When I switch back to my work comp I can see if there's a coding issue in the item field or something...

[2021-08-23 16:22] mkutch commented on #404
Looking at Workflows that's how they appear. Some of the callnumbers have the date and volume in the |z field and some don't (just has volume).  Maybe using the `sortCallNumber` endpoint could help?
Here is that catkey's callnumber, volumetric and  normalized call number that is used for sorting by call number.

[code]

[2021-08-23 17:04] ruthtillman commented on #404
@mkutch I went to look at the cataloging documentation and it appears the placement of the |z before the 2005 in records like this is standard practice, so this must be an oversight from when the items were created. I am going to edit this one record and then we can see how it impacts holds placement. If that solves the issue, then I'll edit the other two and maybe start passing them on as issues

[2021-08-23 17:37] whereismyjetpack commented on #404
I think this still begs the question, since the constraint isn't on the symphony side, should we handle these silently on our end? should we default that field to `0000` to avoid crashing? should we ignore the record? etc.

[2021-08-23 17:39] ruthtillman commented on #404
In an ideal case, we'd get some kind of notification that lets us fix it / the person would get an error message of some kind to tell them to ask ul-lending for help.

[2021-08-23 17:41] whereismyjetpack commented on #404
so, we could catch this error and say something like 'we had an issue placing a hold for this record, please ask a librarian for help' or something like this? is this required for placing the hold? should we halt the hold process if we don't have to?

[2021-08-23 17:43] ruthtillman commented on #404
yes/no --- in a lot of cases they might be able to place the hold, however there might be some volumes that don't show up and these could be what they need.

[2021-08-23 17:53] nicktiberi commented on #404
The crash is happening when myaccount tries to sort the data that comes back from Symphony.

We could just catch the error and show the list in the original order, and everything should work fine (no issues placing holds, etc). We could even log these errors when they occur and then fix any underlying data issues. This would allow us to both avoid the app crashing and let us know when we need to f

[2021-08-23 20:00] ruthtillman commented on #404
@nicktiberi if that's feasible, that sounds good to me!

[2021-08-24 13:49] mkutch commented on #404
others `50495, 55390`

[2021-08-25 12:52] #404 closed

[2021-08-31 20:41] ruthtillman opened #429 "Add Altoona locker location"
Altoona has purchased some lockers for holds pickup and would like these added ASAP to the hold placement/pickup locations. I'll make the edit tonight. They're repurposing the UP-GATEWAY library because it costs $$ and time to add another location.

UP-GATEWAY: Penn State Altoona-Downtown

(it won't be anyone's default, obviosuly)

[2021-09-13 16:07] banukutlu opened #431 "Catch Auth proxy errors"
catch Auth proxy errors and respond accordingly if something becomes misconfigured

[2021-09-20 16:07] ruthtillman commented on #429
Note: We added this but they will be renaming the library to LOCKER-AA, currently in the works with finance dept to pay Sirsi to make the change. I'll add a branch with this new library name but it shouldn't be merged yet

[2021-09-29 18:31] #429 closed

[2021-09-29 18:35] mkutch commented on #429
Sirsi renamed UP-GATEWAY to AA-DOWNTWN on Prod on 9/22.  The renaming on Stage is on 9/29.
Note :  Must restart web service after the rename so web services calls see that pickup library correctly.

[2021-10-28 14:13] ruthtillman opened #442 "Altoona pickup location to just Penn State Altoona"
Change value for https://github.com/psu-libraries/myaccount/blob/main/config/settings.yml#L40 to `Penn State Altoona`.

[2021-11-03 14:59] banukutlu commented on #442
@ruthtillman https://github.com/psu-libraries/myaccount/blob/1ec1a36187b1b70b2e637a8d2dc75c9dcf9bd8e8/config/settings.yml#L65 this should match right?

[2021-11-03 15:23] ruthtillman commented on #442
That's a really good question -- I think it should actually be `Penn State Altoona - Library Circulation Desk` to parallel the locker one since there's two for Penn State Altoona. Thanks for catching it

[2021-11-03 20:00] ruthtillman opened #443 "My Account unvailable Friday November 5th, 6-7am"
We'll be having an emergency patch on prod -- can we have the alert:

`My Account will be down for critical maintenance on Friday, November 5th, 6-7am.`

[2021-11-03 20:16] banukutlu commented on #443
are we putting this one up now?

[2021-11-03 20:23] ruthtillman commented on #443
Thurs morning would be ok if tonight isn't good

[2021-11-03 20:25] banukutlu commented on #443
can do it now 👍🏻

[2021-11-03 20:31] banukutlu commented on #443
done 👍🏻

[2021-11-03 20:31] #443 closed

[2021-11-03 20:32] #442 closed

[2021-11-03 20:40] banukutlu commented on #442
@ruthtillman This change is merged so would be in QA but cannot be reviewed right now since symphony stage is not up due to Oracle patching.

[2021-12-13 16:57] ruthtillman opened #451 "Add message about returning to Checkouts/Renewals page"
Access Services council has requested that we add the following message to the Checkouts/Renewals page...

`If you are finished with any items, please consider returning them to any Penn State library.`

I'm thinking it'd make the most sense as a paragraph above the "Materials borrowed through Illiad..." paragraph. This is just adding text to the page, no logic involved.

[2021-12-13 18:39] #451 closed

[2021-12-15 15:46] ruthtillman opened #453 "Symphony upgrade message"
`Scheduled maintenance: My Account will not available on Sunday December 19 between 8am and 2pm.`

[2022-01-10 16:52] ruthtillman opened #454 "Update internal server error link to be website-feedback"
We have the Qualtrics form link in here: https://github.com/psu-libraries/myaccount/blob/main/app/views/errors/internal_server_error.html.erb#L2 as "give us feedback" -- I'd like to replace it with `https://libraries.psu.edu/website-feedback` for consistency. Should be simple swap.

[2022-01-10 17:21] #454 closed

[2022-02-01 16:30] #453 closed

[2022-02-01 16:31] ruthtillman opened #459 "Brief downtime message"
`Scheduled maintenance: My Account may be unavailable on Thursday, February 3, between 6 and 6:30am.`

[2022-02-01 17:50] banukutlu commented on #459
updated

[2022-02-01 17:50] #459 closed

[2022-03-10 19:32] ruthtillman opened #470 "Volumetric not working for catkey 322209"
Got a report that it seems like volumetric processing isn't currently working right for this record: https://myaccount.libraries.psu.edu/holds/new?catkey=322209

I checked and volumetrics are working on other records just fine. I looked at the data structure, though, and it seems to be correct. It's possible that the call # disambiguation isn't catching the difference between: `M127.S67 op.35 S36

[2022-03-14 14:29] banukutlu opened #472 "Add Symphony WebServices to health checks"

[2022-03-21 15:02] nicktiberi commented on #470
Looks like this may be an issue with the data in this record/on the Symphony side.

Looking at the data coming back from Symphony, `volumetric` is `nil` for both calls, so it's not being processed as volumetric:

[code]

[2022-03-21 17:14] ruthtillman commented on #470
Thanks @nicktiberi  - I think we'll be able to work with @mkutch after this sprint and maybe she can look into that then and see why it's not sending volumetric info!

[2022-03-21 18:56] banukutlu commented on #470
Thanks for looking into this @nicktiberi and @ruthtillman, I am going to assign this to @mkutch and send it to backlog for now.

[2022-03-22 13:21] #472 closed

[2022-03-23 16:04] ruthtillman opened #478 "Update text explaining date of hold placement and make darker/larger"
Access Services Council has requested that we change the description below the "not needed after" date for hold placement/hold updates and that we make it more visible for end users. Right now we're using a "muted" class on it... could we make normal size and maybe italicize to make it less wall-of text?

File affected:

https://github.com/psu-libraries/myaccount/blob/main/app/views/holds/_form_in

[2022-03-24 15:09] ruthtillman commented on #478
Just saw on QA -- looks good!

[2022-03-24 18:31] #355 closed

[2022-03-24 18:59] #333 closed

[2022-04-05 19:56] ruthtillman opened #484 "Adding page for users to opt-into wage garnishment"
If user is status: Barred AND they don't have anything in the garnish date (some users will have 0), we want them to be able to opt in and update the system.

## WDDLL

- [ ] We have a page where people can check a box to opt in and that box will update the page.
- [ ] Additional feature: when a barred user logs into My Account or attempts to place a hold, we test their account to see if they shou

[2022-04-11 14:06] banukutlu commented on #484
@mkutch Can you get us a screenshot from the current cat page?

[2022-04-12 13:38] ruthtillman commented on #470
@mkutch another record with same problem: https://catalog.libraries.psu.edu/catalog/2042050

Doug B reported that while placing each item individually on hold for patron (after their request) "in Workflows I kept getting the duplicate item already on hold error even though the call numbers and item IDs were different"

[2022-04-12 13:54] mkutch commented on #484
Here is the start page of the accept lending code. You can go through it to see the different pages. It will just update your garnish date to current date.
https://cat.libraries.psu.edu/accept_lendingcode.html

@tdouty will look into the C code and let us know what the code does, as to not miss any cases. I'll post web service calls.

[2022-04-12 15:02] mkutch commented on #484
This is the web service call to get the extended info

https://cat-stage.libraries.psu.edu:28443/symwsbc/user/patron/key/18511?includeFields=library,standing,customInformation{patronExtendedInformation{*}}

userstatus is in the standing field.

This lists all customInformation{patronExtendedInformation} whether or not there is data. It puts out an output for every extended info entry even if null.

[2022-04-13 13:55] mkutch commented on #470
This seems like a volumetric issue where these need to be in the |z field of callnumber. This is a larger cataloging issue that needs to be fixed.  For example,

https://catalog.libraries.psu.edu/catalog/2723696
https://catalog.libraries.psu.edu/catalog/2723560

have the same issue.

[2022-04-13 14:14] ruthtillman commented on #470
I can bring this to cataloging -- is there any way to get a big report of these?

[2022-04-21 19:17] ruthtillman commented on #470
I've handled the catkeys from this issue. Our fix is either to get a full report, which @mkutch may need to tease out or to fix on an ad-hoc basis.

[2022-04-21 19:17] #470 closed

[2022-04-21 21:52] mkutch commented on #470
@ruthtillman  I'm thinking of doing these in small batches and it'll be a slightly kludgy extraction 😄

[2022-04-22 13:02] mkutch commented on #470
@ruthtillman  I can work on getting a list, when I'm on your sprint.

[2022-04-22 13:08] ruthtillman commented on #470
@mkutch great! In the meantime we'll just fix if they come up -- they rarely do

[2022-04-25 13:57] ruthtillman commented on #484
url slug: https://myaccount.libraries.psu.edu/accept-lending-policy

[2022-04-25 15:12] nicktiberi commented on #484
@mkutch — I am trying to test this against Symphony QA. Should I be able to update my user's patron standing from its current state of "OK" to "BARRED"? Or is barred represented by a different key?

[2022-04-25 16:50] mkutch commented on #484
Yes you can change your standing for testing purposes from "OK" to "BARRED"  and vice versa.  Let me know if it doesn't work.

[2022-04-28 15:14] mkutch commented on #484
@nicktiberi  you'll need to add this to the header

  `SD-Prompt-Return:USER_EDIT_OVRCD/<OVERRIDE_PWD>
`

I tried it and it worked. Let  me know if it works for you too or you need other help

[2022-05-05 18:05] #484 closed

[2022-05-05 18:36] nicktiberi opened #490 "Notify patrons that they can opt into wage garnishment"
Now that faculty and staff patrons can opt into wage garnishment via MyAccount, it might be helpful to notify them in some way if they are eligible to opt into wage garnishment (currently represented by `eligible_for_wage_garnishment?` in the `Patron` model).

Possibilities for how to implement this include:
- showing a link to the "Accept Lending Policy" page on the summary page
- forwarding elig

[2022-05-10 16:34] nicktiberi commented on #490
@ruthtillman - thoughts on this for UI to prompt eligible users to accept lending policy?

<img width="1194" alt="Screen Shot 2022-05-10 at 12 33 29 PM" src="https://user-images.githubusercontent.com/639920/167678479-c968aaf6-b59b-4c02-9b29-3d8baf1783bb.png">

[2022-05-10 16:40] ruthtillman commented on #490
looks good to me -- I will check with the access services person, but I like it!

[2022-05-10 17:45] ruthtillman commented on #490
Update -- Chris H says it looks good, so we can move forward!

[2022-05-11 03:22] #490 closed

[2022-05-12 18:07] ruthtillman commented on #490
@nicktiberi since this isn't a thing that I can easily review live, should we schedule a time to just walk through it early next week and approve/deploy?

@banukutlu do you want to be part of that?

[2022-05-12 18:08] nicktiberi commented on #490
That sounds good to me. Should Maryam be part of that? She may need to bar one of us and set our garnish date to all 0s in production.

[2022-05-12 18:49] banukutlu commented on #490
sure that sounds good!

[2022-05-12 18:53] ruthtillman commented on #490
@nicktiberi I'm ok doing a walkthrough with whichever non-prod you'd been using. When we deploy, however, we can test again and I'll see if she can bar one of us or maybe someone can talk @whereismyjetpack into unbarring his account for real. 😂

[2022-05-16 14:13] ruthtillman opened #493 "Why did my hold fail / user barred has linked to un-bar"
Right now we have ways to unbar yourself from your My Account page and on the standalone page. When a user has a hold fail because they're barred AND they fit the criteria to accept lending policy, can we add a link to the error message so that they can fix it from that page vs. clicking to the My Account home page.

<img width="1176" alt="Screen Shot 2022-05-16 at 10 08 49 AM" src="https://user-i

[2022-05-16 14:33] ruthtillman commented on #493
thanks so much for adding that screenshot, @nicktiberi !

[2022-05-18 13:43] ruthtillman opened #494 "Put up notice for update on May 24th Symphony update"
Morning of 5/23, put up notice:

```Scheduled maintenance: My Account will be unavailable on May 24, 2022 from approximately 6-6:45am Eastern```

(do we need to put it into maintenance mode?)

[2022-05-18 19:19] banukutlu commented on #494
@ruthtillman I will be OOO starting from 5/23, @whereismyjetpack nicely agreed to do this, thanks!

[2022-05-18 19:20] ruthtillman commented on #494
Thanks so much @whereismyjetpack! 👍 🍵

[2022-05-18 19:36] banukutlu commented on #494
@ruthtillman We probably won't need the maintenance mode, afair that has been the case so far, but if I am mistaken and if it needs to be put in the maintenance mode, below are the settings to edit:

[code]

[2022-05-18 21:06] whereismyjetpack opened #495 "Removing Address Data Entirely"
When `cpr-listener` goes live, address fields will be populated by changes to accounts.psu.edu.

should we direct users to accounts.psu.edu to change their address in symphony? right now cpr-listener tries to determine address1 in the following order

[code]

However, it seems we should prioritize mailing_address and direct users to change their mailing address in accounts.psu.edu if they want cha

[2022-05-24 12:07] #494 closed

[2022-06-20 14:50] ruthtillman commented on #495
Based on https://github.com/psu-libraries/Symphony/issues/321 and with input from Chris H:

We'll be removing the address view/edit pages entirely and sending everyone to accounts.psu.edu instead. The Ask a Librarian widget gives folks an out if they really want to talk to a person about it, but anyone who'd have been updating in our My Account form already should be fine updating in the other ins

[2022-07-11 15:08] ruthtillman opened #509 "Alert for Symphony maintenance"
On Tuesday, please update alert bar:

`Scheduled maintenance: My Account will be unavailable on July 13, 2022 from approximately 6:15-7am ET.`

[2022-07-12 17:24] #509 closed

[2022-08-01 14:11] banukutlu opened #514 "MyAccount Ruby"

[2022-08-01 14:12] banukutlu opened #515 "MyAccount Gemfile/yarn vulns"

[2022-08-01 14:31] whereismyjetpack opened #516 "MyAccount Docker vulns"

[2022-08-03 19:17] banukutlu opened #517 "Maintenance alert for 8/4"
Text for alert -

"Routine maintenance of the library catalog system is scheduled for 8/4/22 6-7 am."

The alert can link to the following page for more detail:

https://libraries.psu.edu/alerts/routine-maintenance-library-catalog-system-scheduled-8422-6-7-am

(The alert should be removed on Thursday am, 84.22.)

[2022-08-03 19:17] banukutlu commented on #517
updated

[2022-08-03 19:17] #517 closed

[2022-08-10 13:38] #516 closed

[2022-08-10 17:45] whereismyjetpack opened #518 "update node"
We are presently using node 12, which is EOL. should we move to 20 based on this chart? we are using 16 elsewhere.

https://nodejs.org/en/about/releases/

[2022-08-10 17:46] whereismyjetpack commented on #518
ruby-base does not build with node 20 yet.

[2022-08-15 12:41] whereismyjetpack commented on #514
addressed in #519

[2022-08-15 12:42] whereismyjetpack commented on #515
Addressed in #524

[2022-08-16 13:21] ruthtillman opened #525 "Maintenance alert for 8/18"
`Service interruption: My Account will be briefly offline on 8/18/22 from 1-1:30pm`

Can link to: https://libraries.psu.edu/alerts/service-interruption-real-time-availability-my-account-i-want-it-brief-outage-81822-1-130-pm

should be removed on 8/18 sometime about/after 2pm?

[2022-08-16 15:36] banukutlu commented on #525
alert added

[2022-09-12 20:13] #525 closed

[2022-09-14 14:20] ruthtillman commented on #495
Checked on test site, including ensuring the patron address view/edit pages were removed. All looks good! ETA update looks like we'll deploy on 10/4, perhaps 10/3 just to get it out there.

[2022-09-14 14:20] #495 closed

[2022-10-26 20:24] mkutch opened #536 "Accept lending code not changing patron's status/standing"
The problem seems to be in the code
[code]
it  should be
[code]
Notice the double quotes in the value of resource and key.

I tested it with the api tester using the single quotes and I get the error message
[code]

[2022-10-26 20:54] mkutch commented on #536
Issue came from Chris H.. He could tell you how many of these he's gotten

[2022-10-28 19:01] ruthtillman opened #537 "ILLiad holds and checkouts incorporated into My Account"
Partly a placeholder issue for now but we need to solve the following problems:

* Incorporate ILLiad holds listing display into My Account so that folks know their hold was successful/see their hold when they check holds. How much status info can we display? Can we let them know the current status?
* Incorporate ILLiad checkouts into My Account checkouts? They can't renew in here, but we could li

[2022-11-21 15:01] whereismyjetpack commented on #536
We are doing and testing this in CPR Listener now https://github.com/psu-libraries/cpr-listener/blob/main/lib/symphony_client.rb#L282

[2022-11-21 15:57] banukutlu opened #542 "Interlibrary Loan Holds"
Part of #537

[2022-11-21 15:57] banukutlu opened #543 "Interlibrary Loan Borrowed"
Part of #537

[2022-11-22 15:53] ruthtillman opened #545 "Maintenance alert for 11/28/22"
Same as catalog: https://github.com/psu-libraries/psulib_blacklight/issues/1085

[2022-11-22 16:56] ruthtillman commented on #545
Looks good!

[2022-11-28 21:50] #518 closed

[2022-11-29 14:47] whereismyjetpack commented on #536
I've verified that the code is properly setting the standing to OK, however, we have it wrapped in the `eligible_for_wage_garnishment?` conditional, and I presume that's not what's getting caught for users that are reporting problems.

@mkutch  -- can you get me a user to verify with?

@ruthtillman We might want to grey out the accept button if `eligible_for_wage_garnishment?` is false with a note

[2022-11-29 14:54] ruthtillman commented on #536
@whereismyjetpack that makes sense if they shouldn't be able to do it. Under what conditions would they be encountering this page? Accidental navigation or might there be a case in which they get prompted to go here but aren't really eligible and should contact lending services?

[2022-11-29 14:59] whereismyjetpack commented on #536
I'm not sure how users are landing on this page, but since it was reported I guess they are somehow.

I will also verify that the code works in prod to rule out a misconfigured instance

[2022-11-29 19:15] ruthtillman commented on #145
ItemInfo2

[2022-11-29 19:20] ruthtillman commented on #143
ItemInfo1 is the ebook field! And then for volumetrics, we'll use ItemInfo2, see https://github.com/psu-libraries/myaccount/issues/145